<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zycw.tuotui.readdao.auaccountconsume.AuAccountConsumeMapper">




        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zycw.tuotui.entity.auaccountconsume.AuAccountConsume">
                    <id column="id" />
                    <result column="company_id" />
                    <result column="user_id" />
                    <result column="price" />
                    <result column="task_id" />
                    <result column="consume_time" />
                    <result column="delFlag" />
        </resultMap>

    
    		        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        </sql>


    
    <delete id="deleteById">
        DELETE FROM au_account_consume WHERE 
        id=#{auAccountConsumeId}
    </delete>
    
    
    <update id="deleteByIdLogic">
        UPDATE au_account_consume SET delFlag = 1 
        WHERE 
        id=#{auAccountConsumeId}
    </update>
    
    
	 
    <delete id="deleteByauAccountConsumeCompanyId">
        DELETE FROM au_account_consume WHERE 
        company_id=id
    </delete>
	 
    <delete id="deleteByauAccountConsumeUserId">
        DELETE FROM au_account_consume WHERE 
        user_id=id
    </delete>
    
    
    
 
 
 	<update id="updateObjById"  parameterType="com.zycw.tuotui.entity.auaccountconsume.AuAccountConsume">
        UPDATE au_account_consume SET 
		            company_id=#{auAccountConsumeCompanyId},
		            user_id=#{auAccountConsumeUserId},
		            price=#{auAccountConsumePrice},
		            task_id=#{auAccountConsumeTaskId},
		            consume_time=#{auAccountConsumeConsumeTime},
		            delFlag=#{auAccountConsumeDelFlag}
        WHERE 
        id=#{auAccountConsumeId}
    </update>
 
    
    <insert id='insertObj' parameterType="com.zycw.tuotui.entity.auaccountconsume.AuAccountConsume">
    	INSERT INTO au_account_consume(
    			company_id,
    			user_id,
    			price,
    			task_id,
    			consume_time,
    			delFlag
    	)
        VALUES(
		           #{auAccountConsumeCompanyId},
		           #{auAccountConsumeUserId},
		           #{auAccountConsumePrice},
		           #{auAccountConsumeTaskId},
		           #{auAccountConsumeConsumeTime},
		           #{auAccountConsumeDelFlag}
        )
    </insert>
    <insert id='batchInsertObj' parameterType="java.util.List">
    	INSERT INTO au_account_consume(
    			company_id,
    			user_id,
    			price,
    			task_id,
    			consume_time,
    			delFlag
    	)
        VALUES(
        <foreach collection="list" item="item"  separator=",">
		           #{item.auAccountConsumeCompanyId},
		           #{item.auAccountConsumeUserId},
		           #{item.auAccountConsumePrice},
		           #{item.auAccountConsumeTaskId},
		           #{item.auAccountConsumeConsumeTime},
		           #{item.auAccountConsumeDelFlag}
        </foreach>
        )
    </insert>
    
    
    <select id="selectObjById" parameterType="java.util.Map" resultType="java.util.HashMap">
    	SELECT  
com.baomidou.mybatisplus.generator.config.po.TableField@5efc6cba
        		auAccountConsume.id AS auAccountConsumeId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@3c76427c
        		auAccountConsume.company_id AS auAccountConsumeCompanyId,
        		auCompany.name AS auCompanyName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@5dcb95c0
        		auAccountConsume.user_id AS auAccountConsumeUserId,
        		auUser.mobile AS auUserMobile,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@1069bdfe
        		auAccountConsume.price AS auAccountConsumePrice,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@7bde6832
        		auAccountConsume.task_id AS auAccountConsumeTaskId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@3d60e30c
        		auAccountConsume.consume_time AS auAccountConsumeConsumeTime,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@3c0404f5
        		auAccountConsume.delFlag AS auAccountConsumeDelFlag
		 FROM 
		 	au_account_consume auAccountConsume
        	,au_company	auCompany
        	,au_user	auUser
    	WHERE 1=1
    	and auAccountConsume.delFlag = 0
				and auAccountConsume.company_id = auCompany.id
				and auAccountConsume.user_id = auUser.id
		 and auUser.id=#{auAccountConsumeId}
    </select>
    
    <select id="countNum" parameterType="java.util.Map" resultType="Integer">
    	SELECT 	
    		COUNT(1)
    	FROM
    		au_account_consume auAccountConsume
        	,au_company	auCompany
        	,au_user	auUser
    	WHERE 1=1
    	and auAccountConsume.delFlag = 0
    	
				and auAccountConsume.company_id = auCompany.id
				and auAccountConsume.user_id = auUser.id
        	<if test="param.auAccountConsumeCompanyId != null and param.auAccountConsumeCompanyId != '' ">
				and company_id =#(param.auAccountConsumeCompanyId) 
			</if>
        	<if test="param.auAccountConsumeUserId != null and param.auAccountConsumeUserId != '' ">
				and user_id =#(param.auAccountConsumeUserId) 
			</if>
    </select>
    <select id="pageList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT 	
        		auAccountConsume.id AS auAccountConsumeId,
            		
        		auCompany.name AS auCompanyName,
            		
        		auUser.mobile AS auUserMobile,
            		
        		auAccountConsume.price AS auAccountConsumePrice,
            		
        		auAccountConsume.task_id AS auAccountConsumeTaskId,
            		
        		auAccountConsume.consume_time AS auAccountConsumeConsumeTime,
            		
        		auAccountConsume.delFlag AS auAccountConsumeDelFlag
    	FROM
    		au_account_consume auAccountConsume
        	,au_company	auCompany
        	,au_user	auUser
    	WHERE 1=1
    	and auAccountConsume.delFlag = 0
    	
				and auAccountConsume.company_id = auCompany.id
				and auAccountConsume.user_id = auUser.id
        	<if test="param.auAccountConsumeCompanyId != null and param.auAccountConsumeCompanyId != '' ">
				and company_id =#(param.auAccountConsumeCompanyId) 
			</if>
        	<if test="param.auAccountConsumeUserId != null and param.auAccountConsumeUserId != '' ">
				and user_id =#(param.auAccountConsumeUserId) 
			</if>
    		LIMIT #{param.pageStart},#{param.pageNum}
    </select>
    
    
    <select id="allList" parameterType="java.util.Map" resultType="java.util.Map">
    	    	SELECT 	
        		auAccountConsume.id AS auAccountConsumeId,
            		
        		auCompany.name AS auCompanyName,
            		
        		auUser.mobile AS auUserMobile,
            		
        		auAccountConsume.price AS auAccountConsumePrice,
            		
        		auAccountConsume.task_id AS auAccountConsumeTaskId,
            		
        		auAccountConsume.consume_time AS auAccountConsumeConsumeTime,
            		
        		auAccountConsume.delFlag AS auAccountConsumeDelFlag
    	FROM
    		au_account_consume auAccountConsume
        	,au_company	auCompany
        	,au_user	auUser
    	WHERE 1=1
    	
				and auAccountConsume.company_id = auCompany.id
				and auAccountConsume.user_id = auUser.id
        	<if test="param.auAccountConsumeCompanyId != null and param.auAccountConsumeCompanyId != '' ">
				and company_id =#(param.auAccountConsumeCompanyId) 
			</if>
        	<if test="param.auAccountConsumeUserId != null and param.auAccountConsumeUserId != '' ">
				and user_id =#(param.auAccountConsumeUserId) 
			</if>
    </select>
    
    
</mapper>