<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zycw.tuotui.readdao.auchatfriends.AuChatFriendsMapper">




        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zycw.tuotui.entity.auchatfriends.AuChatFriends">
                    <id column="id" />
                    <result column="user_id" />
                    <result column="fuser_id" />
                    <result column="addtime" />
                    <result column="delFlag" />
        </resultMap>

    
    		        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        </sql>


    
    <delete id="deleteById">
        DELETE FROM au_chat_friends WHERE 
        id=#{auChatFriendsId}
    </delete>
    
    
    <update id="deleteByIdLogic">
        UPDATE au_chat_friends SET delFlag = 1 
        WHERE 
        id=#{auChatFriendsId}
    </update>
    
    
	 
    <delete id="deleteByauChatFriendsUserId">
        DELETE FROM au_chat_friends WHERE 
        user_id=id
    </delete>
	 
    <delete id="deleteByauChatFriendsFuserId">
        DELETE FROM au_chat_friends WHERE 
        fuser_id=id
    </delete>
    
    
    
 
 
 	<update id="updateObjById"  parameterType="com.zycw.tuotui.entity.auchatfriends.AuChatFriends">
        UPDATE au_chat_friends SET 
		            user_id={auChatFriendsUserId},
		            fuser_id={auChatFriendsFuserId},
		            addtime={auChatFriendsAddtime},
		            user_id=#{auChatFriendsUserId},
		            fuser_id=#{auChatFriendsFuserId},
		            addtime=#{auChatFriendsAddtime},
		            delFlag=#{auChatFriendsDelFlag}
        WHERE 
        id=#{auChatFriendsId}
    </update>
 
    
    <insert id='insertObj' parameterType="com.zycw.tuotui.entity.auchatfriends.AuChatFriends">
    	INSERT INTO au_chat_friends(
    			user_id,
    			fuser_id,
    			addtime,
    			delFlag
    	)
        VALUES(
		           #{auChatFriendsUserId},
		           #{auChatFriendsFuserId},
		           #{auChatFriendsAddtime},
		           #{auChatFriendsDelFlag}
        )
    </insert>
    <insert id='batchInsertObj' parameterType="java.util.List">
    	INSERT INTO au_chat_friends(
    			user_id,
    			fuser_id,
    			addtime,
    			delFlag
    	)
        VALUES(
        <foreach collection="list" item="item"  separator=",">
		           #{item.auChatFriendsUserId},
		           #{item.auChatFriendsFuserId},
		           #{item.auChatFriendsAddtime},
		           #{item.auChatFriendsDelFlag}
        </foreach>
        )
    </insert>
    
    
    <select id="selectObjById" parameterType="java.util.Map" resultType="java.util.HashMap">
    	SELECT  
        		auChatFriends.id AS auChatFriendsId,
        		auChatFriends.user_id AS auChatFriendsUserId,
        		auUser.mobile AS auUserMobile,
        		auChatFriends.fuser_id AS auChatFriendsFuserId,
        		sysUser.username AS sysUserUsername,
            		
        		auChatFriends.addtime AS auChatFriendsAddtime,
        		auChatFriends.delFlag AS auChatFriendsDelFlag
		 FROM 
		 	au_chat_friends auChatFriends
        	,sys_user	sysUser
        	,au_user	auUser
    	WHERE 1=1
    	and auChatFriends.delFlag = 0
				and auChatFriends.fuser_id = sysUser.id
				and auChatFriends.user_id = auUser.id
		 and sysUser.id=#{auChatFriendsId}
    </select>
    
    <select id="countNum" parameterType="java.util.Map" resultType="Integer">
    	SELECT 	
    		COUNT(1)
    	FROM
    		au_chat_friends auChatFriends
        	,sys_user	sysUser
        	,au_user	auUser
    	WHERE 1=1
    	and auChatFriends.delFlag = 0
    	
				and auChatFriends.fuser_id = sysUser.id
				and auChatFriends.user_id = auUser.id
        	<if test="param.auChatFriendsFuserId != null and param.auChatFriendsFuserId != '' ">
				and fuser_id =#(param.auChatFriendsFuserId) 
			</if>
        	<if test="param.auChatFriendsUserId != null and param.auChatFriendsUserId != '' ">
				and user_id =#(param.auChatFriendsUserId) 
			</if>
    </select>
    <select id="pageList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT 	
        		auChatFriends.id AS auChatFriendsId,
            		
        		auUser.mobile AS auUserMobile,
            		
        		sysUser.username AS sysUserUsername,
            		
        		auChatFriends.addtime AS auChatFriendsAddtime,
            		
        		auChatFriends.delFlag AS auChatFriendsDelFlag
    	FROM
    		au_chat_friends auChatFriends
        	,sys_user	sysUser
        	,au_user	auUser
    	WHERE 1=1
    	and auChatFriends.delFlag = 0
    	
				and auChatFriends.fuser_id = sysUser.id
				and auChatFriends.user_id = auUser.id
        	<if test="param.auChatFriendsFuserId != null and param.auChatFriendsFuserId != '' ">
				and fuser_id =#(param.auChatFriendsFuserId) 
			</if>
        	<if test="param.auChatFriendsUserId != null and param.auChatFriendsUserId != '' ">
				and user_id =#(param.auChatFriendsUserId) 
			</if>
    		LIMIT #{param.pageStart},#{param.pageNum}
    </select>
    
    
    <select id="allList" parameterType="java.util.Map" resultType="java.util.Map">
    	    	SELECT 	
        		auChatFriends.id AS auChatFriendsId,
            		
        		auUser.mobile AS auUserMobile,
            		
        		sysUser.username AS sysUserUsername,
            		
        		auChatFriends.addtime AS auChatFriendsAddtime,
            		
        		auChatFriends.delFlag AS auChatFriendsDelFlag
    	FROM
    		au_chat_friends auChatFriends
        	,sys_user	sysUser
        	,au_user	auUser
    	WHERE 1=1
    	
				and auChatFriends.fuser_id = sysUser.id
				and auChatFriends.user_id = auUser.id
        	<if test="param.auChatFriendsFuserId != null and param.auChatFriendsFuserId != '' ">
				and fuser_id =#(param.auChatFriendsFuserId) 
			</if>
        	<if test="param.auChatFriendsUserId != null and param.auChatFriendsUserId != '' ">
				and user_id =#(param.auChatFriendsUserId) 
			</if>
    </select>
    
    

	<select id="sysFriendsCountNum" parameterType="java.util.Map" resultType="Integer">
		SELECT
		COUNT(1)
		FROM
		au_chat_friends
		WHERE 1=1
		<if test="param.auChatFriendsUserId != null and param.auChatFriendsUserId != '' ">
			and user_id =#{param.auChatFriendsUserId}
		</if>
		<if test="param.auChatFriendsFuserId != null and param.auChatFriendsFuserId != '' ">
			and fuser_id =#{param.auChatFriendsFuserId}
		</if>
	</select>

	<select id="sysFriendsPageList" parameterType="java.util.Map" resultType="java.util.Map">
		<if test="param.auChatFriendsUserId != null and param.auChatFriendsUserId != '' ">
			select user.id,user.nike,user.uimg from sys_user user left join au_chat_friends friend on user.id = friend.fuser_id
			where 1=1 and friend.user_id =#{param.auChatFriendsUserId}
		</if>
		<if test="param.auChatFriendsFuserId != null and param.auChatFriendsFuserId != '' ">
			select user.id,user.nick,user.uimg from au_user user left join au_chat_friends friend on user.id = friend.user_id
			where 1=1 and friend.fuser_id = #{param.auChatFriendsFuserId}
		</if>
	</select>
</mapper>