<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zycw.tuotui.readdao.auchatmsg.AuChatMsgMapper">


        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zycw.tuotui.entity.auchatmsg.AuChatMsg">
                    <id column="id" />
                    <result column="senduserid" />
                    <result column="reciveuserid" />
                    <result column="sendtime" />
                    <result column="sendtext" />
                    <result column="msgtype" />
        </resultMap>

    
    		        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        </sql>


    
    <delete id="deleteById">
        DELETE FROM au_chat_msg WHERE 
        id=#{auChatMsgId}
    </delete>
    
    
    <update id="deleteByIdLogic">
        UPDATE au_chat_msg SET delFlag = 1' 
        WHERE 
        id=#{auChatMsgId}
    </update>
    
 
 
 	<update id="updateObjById"  parameterType="com.zycw.tuotui.entity.auchatmsg.AuChatMsg">
        UPDATE au_chat_msg SET 
		            senduserid=auChatMsgSenduserid,
		            reciveuserid=auChatMsgReciveuserid,
		            sendtime=auChatMsgSendtime,
		            sendtext=auChatMsgSendtext,
		            msgtype=#{auChatMsgMsgtype}
        WHERE 
        id=#{auChatMsgId}
    </update>
 
    
    <insert id='insertObj' parameterType="com.zycw.tuotui.entity.auchatmsg.AuChatMsg">
    	INSERT INTO au_chat_msg(
    			senduserid,
    			reciveuserid,
    			sendtime,
    			sendtext,
    			msgtype
    	)
        VALUES(
		           #{auChatMsgSenduserid},
		           #{auChatMsgReciveuserid},
		           #{auChatMsgSendtime},
		           #{auChatMsgSendtext},
		           #{auChatMsgMsgtype}
        )
    </insert>
    <insert id='batchInsertObj' parameterType="java.util.List">
    	INSERT INTO au_chat_msg(
    			senduserid,
    			reciveuserid,
    			sendtime,
    			sendtext,
    			msgtype
    	)
        VALUES(
        <foreach collection="list" item="item"  separator=",">
		           #{item.auChatMsgSenduserid},
		           #{item.auChatMsgReciveuserid},
		           #{item.auChatMsgSendtime},
		           #{item.auChatMsgSendtext},
		           #{item.auChatMsgMsgtype}
        </foreach>
        )
    </insert>
    
    
    <select id="selectObjById" parameterType="java.util.Map" resultType="java.util.HashMap">
    	SELECT  
        		auChatMsg.id AS auChatMsgId,
            		
        		auChatMsg.senduserid AS auChatMsgSenduserid,
            		
        		auChatMsg.reciveuserid AS auChatMsgReciveuserid,
            		
        		auChatMsg.sendtime AS auChatMsgSendtime,
            		
        		auChatMsg.sendtext AS auChatMsgSendtext,
            		
        		auChatMsg.msgtype AS auChatMsgMsgtype
		 FROM 
		 	au_chat_msg auChatMsg
    	WHERE 1=1
		 and ${tbAlias}.id=#{auChatMsgId}
    </select>
    
    <select id="countNum" parameterType="java.util.Map" resultType="Integer">
    	SELECT 	
    		COUNT(1)
    	FROM
    		au_chat_msg auChatMsg
    	WHERE 1=1
    	
    </select>
    <select id="pageList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT 	
        		auChatMsg.id AS auChatMsgId,
            		
        		auChatMsg.senduserid AS auChatMsgSenduserid,
            		
        		auChatMsg.reciveuserid AS auChatMsgReciveuserid,
            		
        		auChatMsg.sendtime AS auChatMsgSendtime,
            		
        		auChatMsg.sendtext AS auChatMsgSendtext,
            		
        		auChatMsg.msgtype AS auChatMsgMsgtype
    	FROM
    		au_chat_msg auChatMsg
    	WHERE 1=1
    	
    		LIMIT #{param.pageStart},#{param.pageNum}
    </select>
    
    
    <select id="allList" parameterType="java.util.Map" resultType="java.util.Map">
    	    	SELECT 	
        		auChatMsg.id AS auChatMsgId,
            		
        		auChatMsg.senduserid AS auChatMsgSenduserid,
            		
        		auChatMsg.reciveuserid AS auChatMsgReciveuserid,
            		
        		auChatMsg.sendtime AS auChatMsgSendtime,
            		
        		auChatMsg.sendtext AS auChatMsgSendtext,
            		
        		auChatMsg.msgtype AS auChatMsgMsgtype
    	FROM
    		au_chat_msg auChatMsg
    	WHERE 1=1
    	
    </select>
    
    
</mapper>