<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zycw.tuotui.readdao.aucompany.AuCompanyMapper">




        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zycw.tuotui.entity.aucompany.AuCompany">
                    <id column="id" />
                    <result column="name" />
                    <result column="credit_code" />
                    <result column="business_license" />
                    <result column="corporation" />
                    <result column="contactor" />
                    <result column="contacts_phone" />
                    <result column="contacts_proxy_statement" />
                    <result column="address" />
                    <result column="account_price" />
                    <result column="user_id" />
                    <result column="verify_status" />
                    <result column="verify_refuse" />
                    <result column="verify_time" />
                    <result column="review_status" />
                    <result column="review_refuse" />
                    <result column="review_time" />
                    <result column="created_time" />
                    <result column="updated_time" />
                    <result column="delfFlag" />
        </resultMap>

    
    		        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        </sql>


    
    <delete id="deleteById">
        DELETE FROM au_company WHERE 
        id=#{auCompanyId}
    </delete>
    
    
    <update id="deleteByIdLogic">
        UPDATE au_company SET delfFlag = 1 
        WHERE 
        id=#{auCompanyId}
    </update>
    
    
    
    
    
 
 
 	<update id="updateObjById"  parameterType="com.zycw.tuotui.entity.aucompany.AuCompany">
        UPDATE au_company SET 
		            name=auCompanyName,
		            credit_code=auCompanyCreditCode,
		            business_license=auCompanyBusinessLicense,
		            corporation=auCompanyCorporation,
		            contactor=auCompanyContactor,
		            contacts_phone=auCompanyContactsPhone,
		            contacts_proxy_statement=auCompanyContactsProxyStatement,
		            address=auCompanyAddress,
		            account_price=auCompanyAccountPrice,
		            user_id=auCompanyUserId,
		            verify_status=auCompanyVerifyStatus,
		            verify_refuse=auCompanyVerifyRefuse,
		            verify_time=auCompanyVerifyTime,
		            review_status=auCompanyReviewStatus,
		            review_refuse=auCompanyReviewRefuse,
		            review_time=auCompanyReviewTime,
		            created_time=auCompanyCreatedTime,
		            updated_time=auCompanyUpdatedTime,
		            delfFlag=#{auCompanyDelfFlag}
        WHERE 
        id=#{auCompanyId}
    </update>
 
    
    <insert id='insertObj' parameterType="com.zycw.tuotui.entity.aucompany.AuCompany">
    	INSERT INTO au_company(
    			name,
    			credit_code,
    			business_license,
    			corporation,
    			contactor,
    			contacts_phone,
    			contacts_proxy_statement,
    			address,
    			account_price,
    			user_id,
    			verify_status,
    			verify_refuse,
    			verify_time,
    			review_status,
    			review_refuse,
    			review_time,
    			created_time,
    			updated_time,
    			delfFlag
    	)
        VALUES(
		           #{auCompanyName},
		           #{auCompanyCreditCode},
		           #{auCompanyBusinessLicense},
		           #{auCompanyCorporation},
		           #{auCompanyContactor},
		           #{auCompanyContactsPhone},
		           #{auCompanyContactsProxyStatement},
		           #{auCompanyAddress},
		           #{auCompanyAccountPrice},
		           #{auCompanyUserId},
		           #{auCompanyVerifyStatus},
		           #{auCompanyVerifyRefuse},
		           #{auCompanyVerifyTime},
		           #{auCompanyReviewStatus},
		           #{auCompanyReviewRefuse},
		           #{auCompanyReviewTime},
		           #{auCompanyCreatedTime},
		           #{auCompanyUpdatedTime},
		           #{auCompanyDelfFlag}
        )
    </insert>
    <insert id='batchInsertObj' parameterType="java.util.List">
    	INSERT INTO au_company(
    			name,
    			credit_code,
    			business_license,
    			corporation,
    			contactor,
    			contacts_phone,
    			contacts_proxy_statement,
    			address,
    			account_price,
    			user_id,
    			verify_status,
    			verify_refuse,
    			verify_time,
    			review_status,
    			review_refuse,
    			review_time,
    			created_time,
    			updated_time,
    			delfFlag
    	)
        VALUES(
        <foreach collection="list" item="item"  separator=",">
		           #{item.auCompanyName},
		           #{item.auCompanyCreditCode},
		           #{item.auCompanyBusinessLicense},
		           #{item.auCompanyCorporation},
		           #{item.auCompanyContactor},
		           #{item.auCompanyContactsPhone},
		           #{item.auCompanyContactsProxyStatement},
		           #{item.auCompanyAddress},
		           #{item.auCompanyAccountPrice},
		           #{item.auCompanyUserId},
		           #{item.auCompanyVerifyStatus},
		           #{item.auCompanyVerifyRefuse},
		           #{item.auCompanyVerifyTime},
		           #{item.auCompanyReviewStatus},
		           #{item.auCompanyReviewRefuse},
		           #{item.auCompanyReviewTime},
		           #{item.auCompanyCreatedTime},
		           #{item.auCompanyUpdatedTime},
		           #{item.auCompanyDelfFlag}
        </foreach>
        )
    </insert>
    
    
    <select id="selectObjById" parameterType="java.util.Map" resultType="java.util.HashMap">
    	SELECT  
com.baomidou.mybatisplus.generator.config.po.TableField@428ccb93
        		auCompany.id AS auCompanyId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@19ee03c4
        		auCompany.name AS auCompanyName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@65b22ef5
        		auCompany.credit_code AS auCompanyCreditCode,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@599cea56
        		auCompany.business_license AS auCompanyBusinessLicense,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@340e9717
        		auCompany.corporation AS auCompanyCorporation,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@5d174271
        		auCompany.contactor AS auCompanyContactor,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@29a61aa0
        		auCompany.contacts_phone AS auCompanyContactsPhone,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@17569b98
        		auCompany.contacts_proxy_statement AS auCompanyContactsProxyStatement,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@57a0104a
        		auCompany.address AS auCompanyAddress,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@30c3c405
        		auCompany.account_price AS auCompanyAccountPrice,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@2929bba7
        		auCompany.user_id AS auCompanyUserId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@a806f41
        		auCompany.verify_status AS auCompanyVerifyStatus,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@5d750c1b
        		auCompany.verify_refuse AS auCompanyVerifyRefuse,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@7338185c
        		auCompany.verify_time AS auCompanyVerifyTime,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@17a8611f
        		auCompany.review_status AS auCompanyReviewStatus,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@1e5bfecc
        		auCompany.review_refuse AS auCompanyReviewRefuse,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@6b3b3cc8
        		auCompany.review_time AS auCompanyReviewTime,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@5872330b
        		auCompany.created_time AS auCompanyCreatedTime,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@c861183
        		auCompany.updated_time AS auCompanyUpdatedTime,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@4dea3341
        		auCompany.delfFlag AS auCompanyDelfFlag
		 FROM 
		 	au_company auCompany
    	WHERE 1=1
    	and auCompany.delfFlag = 0
		 and ${tbAlias}.id=#{auCompanyId}
    </select>
    
    <select id="countNum" parameterType="java.util.Map" resultType="Integer">
    	SELECT 	
    		COUNT(1)
    	FROM
    		au_company auCompany
    	WHERE 1=1
    	and auCompany.delfFlag = 0
    	
    </select>
    <select id="pageList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT 	
        		auCompany.id AS auCompanyId,
            		
        		auCompany.name AS auCompanyName,
            		
        		auCompany.credit_code AS auCompanyCreditCode,
            		
        		auCompany.business_license AS auCompanyBusinessLicense,
            		
        		auCompany.corporation AS auCompanyCorporation,
            		
        		auCompany.contactor AS auCompanyContactor,
            		
        		auCompany.contacts_phone AS auCompanyContactsPhone,
            		
        		auCompany.contacts_proxy_statement AS auCompanyContactsProxyStatement,
            		
        		auCompany.address AS auCompanyAddress,
            		
        		auCompany.account_price AS auCompanyAccountPrice,
            		
        		auCompany.user_id AS auCompanyUserId,
            		
        		auCompany.verify_status AS auCompanyVerifyStatus,
            		
        		auCompany.verify_refuse AS auCompanyVerifyRefuse,
            		
        		auCompany.verify_time AS auCompanyVerifyTime,
            		
        		auCompany.review_status AS auCompanyReviewStatus,
            		
        		auCompany.review_refuse AS auCompanyReviewRefuse,
            		
        		auCompany.review_time AS auCompanyReviewTime,
            		
        		auCompany.created_time AS auCompanyCreatedTime,
            		
        		auCompany.updated_time AS auCompanyUpdatedTime,
            		
        		auCompany.delfFlag AS auCompanyDelfFlag
    	FROM
    		au_company auCompany
    	WHERE 1=1
    	and auCompany.delfFlag = 0
    	
    		LIMIT #{param.pageStart},#{param.pageNum}
    </select>
    
    
    <select id="allList" parameterType="java.util.Map" resultType="java.util.Map">
    	    	SELECT 	
        		auCompany.id AS auCompanyId,
            		
        		auCompany.name AS auCompanyName,
            		
        		auCompany.credit_code AS auCompanyCreditCode,
            		
        		auCompany.business_license AS auCompanyBusinessLicense,
            		
        		auCompany.corporation AS auCompanyCorporation,
            		
        		auCompany.contactor AS auCompanyContactor,
            		
        		auCompany.contacts_phone AS auCompanyContactsPhone,
            		
        		auCompany.contacts_proxy_statement AS auCompanyContactsProxyStatement,
            		
        		auCompany.address AS auCompanyAddress,
            		
        		auCompany.account_price AS auCompanyAccountPrice,
            		
        		auCompany.user_id AS auCompanyUserId,
            		
        		auCompany.verify_status AS auCompanyVerifyStatus,
            		
        		auCompany.verify_refuse AS auCompanyVerifyRefuse,
            		
        		auCompany.verify_time AS auCompanyVerifyTime,
            		
        		auCompany.review_status AS auCompanyReviewStatus,
            		
        		auCompany.review_refuse AS auCompanyReviewRefuse,
            		
        		auCompany.review_time AS auCompanyReviewTime,
            		
        		auCompany.created_time AS auCompanyCreatedTime,
            		
        		auCompany.updated_time AS auCompanyUpdatedTime,
            		
        		auCompany.delfFlag AS auCompanyDelfFlag
    	FROM
    		au_company auCompany
    	WHERE 1=1
    	
    </select>
    
    
</mapper>