<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zycw.tuotui.readdao.aucustomtask.AuCustomTaskMapper">




        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zycw.tuotui.entity.aucustomtask.AuCustomTask">
                    <id column="id" />
                    <result column="compayn_id" />
                    <result column="user_id" />
                    <result column="app_id" />
                    <result column="task_title" />
                    <result column="extension_type" />
                    <result column="scheme_id" />
                    <result column="task_type" />
                    <result column="task_depth" />
                    <result column="task_activity" />
                    <result column="province_id" />
                    <result column="city_id" />
                    <result column="area_id" />
                    <result column="occupation_id" />
                    <result column="start_time" />
                    <result column="end_time" />
                    <result column="user_sex" />
                    <result column="user_age_min" />
                    <result column="user_age_max" />
                    <result column="hobby_type" />
                    <result column="extension_item" />
                    <result column="extension_nums_item" />
                    <result column="custom_price" />
                    <result column="verify_status" />
                    <result column="task_content" />
                    <result column="veruft_refuse" />
                    <result column="verify_time" />
                    <result column="review_status" />
                    <result column="review_refuse" />
                    <result column="review_time" />
                    <result column="task_reward" />
                    <result column="task_status" />
                    <result column="created_time" />
                    <result column="updated_time" />
                    <result column="delFlag" />
        </resultMap>

    
    		        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        </sql>


    
    <delete id="deleteById">
        DELETE FROM au_custom_task WHERE 
        id=#{auCustomTaskId}
    </delete>
    
    
    <update id="deleteByIdLogic">
        UPDATE au_custom_task SET delFlag = 1 
        WHERE 
        id=#{auCustomTaskId}
    </update>
    
    
	 
    <delete id="deleteByauCustomTaskCompaynId">
        DELETE FROM au_custom_task WHERE 
        compayn_id=id
    </delete>
	 
    <delete id="deleteByauCustomTaskUserId">
        DELETE FROM au_custom_task WHERE 
        user_id=id
    </delete>
	 
    <delete id="deleteByauCustomTaskAppId">
        DELETE FROM au_custom_task WHERE 
        app_id=id
    </delete>
	 
    <delete id="deleteByauCustomTaskTaskType">
        DELETE FROM au_custom_task WHERE 
        task_type=id
    </delete>
	 
    <delete id="deleteByauCustomTaskTaskDepth">
        DELETE FROM au_custom_task WHERE 
        task_depth=id
    </delete>
	 
    <delete id="deleteByauCustomTaskTaskActivity">
        DELETE FROM au_custom_task WHERE 
        task_activity=id
    </delete>
	 
    <delete id="deleteByauCustomTaskProvinceId">
        DELETE FROM au_custom_task WHERE 
        province_id=id
    </delete>
	 
    <delete id="deleteByauCustomTaskCityId">
        DELETE FROM au_custom_task WHERE 
        city_id=id
    </delete>
	 
    <delete id="deleteByauCustomTaskAreaId">
        DELETE FROM au_custom_task WHERE 
        area_id=id
    </delete>
	 
    <delete id="deleteByauCustomTaskOccupationId">
        DELETE FROM au_custom_task WHERE 
        occupation_id=id
    </delete>
    
    
    
 
 
 	<update id="updateObjById"  parameterType="com.zycw.tuotui.entity.aucustomtask.AuCustomTask">
        UPDATE au_custom_task SET 
		            compayn_id=#{auCustomTaskCompaynId},
		            user_id=#{auCustomTaskUserId},
		            app_id=#{auCustomTaskAppId},
		            task_title=#{auCustomTaskTaskTitle},
		            extension_type=#{auCustomTaskExtensionType},
		            scheme_id=#{auCustomTaskSchemeId},
		            task_type=#{auCustomTaskTaskType},
		            task_depth=#{auCustomTaskTaskDepth},
		            task_activity=#{auCustomTaskTaskActivity},
		            province_id=#{auCustomTaskProvinceId},
		            city_id=#{auCustomTaskCityId},
		            area_id=#{auCustomTaskAreaId},
		            occupation_id=#{auCustomTaskOccupationId},
		            start_time=#{auCustomTaskStartTime},
		            end_time=#{auCustomTaskEndTime},
		            user_sex=#{auCustomTaskUserSex},
		            user_age_min=#{auCustomTaskUserAgeMin},
		            user_age_max=#{auCustomTaskUserAgeMax},
		            hobby_type=#{auCustomTaskHobbyType},
		            extension_item=#{auCustomTaskExtensionItem},
		            extension_nums_item=#{auCustomTaskExtensionNumsItem},
		            custom_price=#{auCustomTaskCustomPrice},
		            verify_status=#{auCustomTaskVerifyStatus},
		            task_content=#{auCustomTaskTaskContent},
		            veruft_refuse=#{auCustomTaskVeruftRefuse},
		            verify_time=#{auCustomTaskVerifyTime},
		            review_status=#{auCustomTaskReviewStatus},
		            review_refuse=#{auCustomTaskReviewRefuse},
		            review_time=#{auCustomTaskReviewTime},
		            task_reward=#{auCustomTaskTaskReward},
		            task_status=#{auCustomTaskTaskStatus},
		            created_time=#{auCustomTaskCreatedTime},
		            updated_time=#{auCustomTaskUpdatedTime},
		            delFlag=#{auCustomTaskDelFlag}
        WHERE 
        id=#{auCustomTaskId}
    </update>
 
    
    <insert id='insertObj' parameterType="com.zycw.tuotui.entity.aucustomtask.AuCustomTask">
    	INSERT INTO au_custom_task(
    			compayn_id,
    			user_id,
    			app_id,
    			task_title,
    			extension_type,
    			scheme_id,
    			task_type,
    			task_depth,
    			task_activity,
    			province_id,
    			city_id,
    			area_id,
    			occupation_id,
    			start_time,
    			end_time,
    			user_sex,
    			user_age_min,
    			user_age_max,
    			hobby_type,
    			extension_item,
    			extension_nums_item,
    			custom_price,
    			verify_status,
    			task_content,
    			veruft_refuse,
    			verify_time,
    			review_status,
    			review_refuse,
    			review_time,
    			task_reward,
    			task_status,
    			created_time,
    			updated_time,
    			delFlag
    	)
        VALUES(
		           #{auCustomTaskCompaynId},
		           #{auCustomTaskUserId},
		           #{auCustomTaskAppId},
		           #{auCustomTaskTaskTitle},
		           #{auCustomTaskExtensionType},
		           #{auCustomTaskSchemeId},
		           #{auCustomTaskTaskType},
		           #{auCustomTaskTaskDepth},
		           #{auCustomTaskTaskActivity},
		           #{auCustomTaskProvinceId},
		           #{auCustomTaskCityId},
		           #{auCustomTaskAreaId},
		           #{auCustomTaskOccupationId},
		           #{auCustomTaskStartTime},
		           #{auCustomTaskEndTime},
		           #{auCustomTaskUserSex},
		           #{auCustomTaskUserAgeMin},
		           #{auCustomTaskUserAgeMax},
		           #{auCustomTaskHobbyType},
		           #{auCustomTaskExtensionItem},
		           #{auCustomTaskExtensionNumsItem},
		           #{auCustomTaskCustomPrice},
		           #{auCustomTaskVerifyStatus},
		           #{auCustomTaskTaskContent},
		           #{auCustomTaskVeruftRefuse},
		           #{auCustomTaskVerifyTime},
		           #{auCustomTaskReviewStatus},
		           #{auCustomTaskReviewRefuse},
		           #{auCustomTaskReviewTime},
		           #{auCustomTaskTaskReward},
		           #{auCustomTaskTaskStatus},
		           #{auCustomTaskCreatedTime},
		           #{auCustomTaskUpdatedTime},
		           #{auCustomTaskDelFlag}
        )
    </insert>
    <insert id='batchInsertObj' parameterType="java.util.List">
    	INSERT INTO au_custom_task(
    			compayn_id,
    			user_id,
    			app_id,
    			task_title,
    			extension_type,
    			scheme_id,
    			task_type,
    			task_depth,
    			task_activity,
    			province_id,
    			city_id,
    			area_id,
    			occupation_id,
    			start_time,
    			end_time,
    			user_sex,
    			user_age_min,
    			user_age_max,
    			hobby_type,
    			extension_item,
    			extension_nums_item,
    			custom_price,
    			verify_status,
    			task_content,
    			veruft_refuse,
    			verify_time,
    			review_status,
    			review_refuse,
    			review_time,
    			task_reward,
    			task_status,
    			created_time,
    			updated_time,
    			delFlag
    	)
        VALUES(
        <foreach collection="list" item="item"  separator=",">
		           #{item.auCustomTaskCompaynId},
		           #{item.auCustomTaskUserId},
		           #{item.auCustomTaskAppId},
		           #{item.auCustomTaskTaskTitle},
		           #{item.auCustomTaskExtensionType},
		           #{item.auCustomTaskSchemeId},
		           #{item.auCustomTaskTaskType},
		           #{item.auCustomTaskTaskDepth},
		           #{item.auCustomTaskTaskActivity},
		           #{item.auCustomTaskProvinceId},
		           #{item.auCustomTaskCityId},
		           #{item.auCustomTaskAreaId},
		           #{item.auCustomTaskOccupationId},
		           #{item.auCustomTaskStartTime},
		           #{item.auCustomTaskEndTime},
		           #{item.auCustomTaskUserSex},
		           #{item.auCustomTaskUserAgeMin},
		           #{item.auCustomTaskUserAgeMax},
		           #{item.auCustomTaskHobbyType},
		           #{item.auCustomTaskExtensionItem},
		           #{item.auCustomTaskExtensionNumsItem},
		           #{item.auCustomTaskCustomPrice},
		           #{item.auCustomTaskVerifyStatus},
		           #{item.auCustomTaskTaskContent},
		           #{item.auCustomTaskVeruftRefuse},
		           #{item.auCustomTaskVerifyTime},
		           #{item.auCustomTaskReviewStatus},
		           #{item.auCustomTaskReviewRefuse},
		           #{item.auCustomTaskReviewTime},
		           #{item.auCustomTaskTaskReward},
		           #{item.auCustomTaskTaskStatus},
		           #{item.auCustomTaskCreatedTime},
		           #{item.auCustomTaskUpdatedTime},
		           #{item.auCustomTaskDelFlag}
        </foreach>
        )
    </insert>
    
    
    <select id="selectObjById" parameterType="java.util.Map" resultType="java.util.HashMap">
    	SELECT  
com.baomidou.mybatisplus.generator.config.po.TableField@25c9162d
        		auCustomTask.id AS auCustomTaskId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@447ae6d0
        		auCustomTask.compayn_id AS auCustomTaskCompaynId,
        		auCompany.name AS auCompanyAppName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@26bc6c4a
        		auCustomTask.user_id AS auCustomTaskUserId,
        		auUser.mobile AS auUserMobile,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@67688abb
        		auCustomTask.app_id AS auCustomTaskAppId,
        		auCompanyApp.name AS auCompanyAppName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@2bf0e524
        		auCustomTask.task_title AS auCustomTaskTaskTitle,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@4c8c1996
        		auCustomTask.extension_type AS auCustomTaskExtensionType,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@997f271
        		auCustomTask.scheme_id AS auCustomTaskSchemeId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@2a098caa
        		auCustomTask.task_type AS auCustomTaskTaskType,
        		sysTaskType.type_title AS sysTaskTypeTypeTitle,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@67c950a
        		auCustomTask.task_depth AS auCustomTaskTaskDepth,
        		sysTaskDepth.depth_title AS sysTaskDepthDepthTitle,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@2a106cfa
        		auCustomTask.task_activity AS auCustomTaskTaskActivity,
        		sysTaskActivity.activity_name AS sysTaskActivityActivityName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@1c2207b3
        		auCustomTask.province_id AS auCustomTaskProvinceId,
        		sysProvince.name AS sysProvinceName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@7a28a441
        		auCustomTask.city_id AS auCustomTaskCityId,
        		sysCity.name AS sysCityName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@189eaacb
        		auCustomTask.area_id AS auCustomTaskAreaId,
        		sysArea.name AS sysAreaName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@31c0729e
        		auCustomTask.occupation_id AS auCustomTaskOccupationId,
        		auOccupation.occupation_name AS auOccupationOccupationName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@3d53e48a
        		auCustomTask.start_time AS auCustomTaskStartTime,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@2e645cd
        		auCustomTask.end_time AS auCustomTaskEndTime,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@6f436fa8
        		auCustomTask.user_sex AS auCustomTaskUserSex,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@5da5a45c
        		auCustomTask.user_age_min AS auCustomTaskUserAgeMin,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@7f706cd6
        		auCustomTask.user_age_max AS auCustomTaskUserAgeMax,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@4f0896d8
        		auCustomTask.hobby_type AS auCustomTaskHobbyType,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@3bc28ebe
        		auCustomTask.extension_item AS auCustomTaskExtensionItem,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@4b355ade
        		auCustomTask.extension_nums_item AS auCustomTaskExtensionNumsItem,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@375f89b2
        		auCustomTask.custom_price AS auCustomTaskCustomPrice,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@3cea77d7
        		auCustomTask.verify_status AS auCustomTaskVerifyStatus,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@13f2a98a
        		auCustomTask.task_content AS auCustomTaskTaskContent,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@7270e280
        		auCustomTask.veruft_refuse AS auCustomTaskVeruftRefuse,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@3929e765
        		auCustomTask.verify_time AS auCustomTaskVerifyTime,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@56927b58
        		auCustomTask.review_status AS auCustomTaskReviewStatus,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@50aa26f9
        		auCustomTask.review_refuse AS auCustomTaskReviewRefuse,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@253baa8e
        		auCustomTask.review_time AS auCustomTaskReviewTime,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@535f6383
        		auCustomTask.task_reward AS auCustomTaskTaskReward,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@16528a0b
        		auCustomTask.task_status AS auCustomTaskTaskStatus,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@17ceebd6
        		auCustomTask.created_time AS auCustomTaskCreatedTime,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@6fd94c7b
        		auCustomTask.updated_time AS auCustomTaskUpdatedTime,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@47b26978
        		auCustomTask.delFlag AS auCustomTaskDelFlag
		 FROM 
		 	au_custom_task auCustomTask
        	,au_company_app	auCompanyApp
        	,au_company	auCompany
        	,au_user	auUser
        	,sys_task_type	sysTaskType
        	,sys_task_activity	sysTaskActivity
        	,sys_province	sysProvince
        	,sys_task_depth	sysTaskDepth
        	,sys_area	sysArea
        	,sys_city	sysCity
        	,au_occupation	auOccupation
    	WHERE 1=1
    	and auCustomTask.delFlag = 0
				and auCustomTask.app_id = auCompanyApp.id
				and auCustomTask.compayn_id = auCompany.id
				and auCustomTask.user_id = auUser.id
				and auCustomTask.task_type = sysTaskType.id
				and auCustomTask.task_activity = sysTaskActivity.id
				and auCustomTask.province_id = sysProvince.id
				and auCustomTask.task_depth = sysTaskDepth.id
				and auCustomTask.area_id = sysArea.id
				and auCustomTask.city_id = sysCity.id
				and auCustomTask.occupation_id = auOccupation.id
		 and auOccupation.id=#{auCustomTaskId}
    </select>
    
    <select id="countNum" parameterType="java.util.Map" resultType="Integer">
    	SELECT 	
    		COUNT(1)
    	FROM
    		au_custom_task auCustomTask
        	,au_company_app	auCompanyApp
        	,au_company	auCompany
        	,au_user	auUser
        	,sys_task_type	sysTaskType
        	,sys_task_activity	sysTaskActivity
        	,sys_province	sysProvince
        	,sys_task_depth	sysTaskDepth
        	,sys_area	sysArea
        	,sys_city	sysCity
        	,au_occupation	auOccupation
    	WHERE 1=1
    	and auCustomTask.delFlag = 0
    	
				and auCustomTask.app_id = auCompanyApp.id
				and auCustomTask.compayn_id = auCompany.id
				and auCustomTask.user_id = auUser.id
				and auCustomTask.task_type = sysTaskType.id
				and auCustomTask.task_activity = sysTaskActivity.id
				and auCustomTask.province_id = sysProvince.id
				and auCustomTask.task_depth = sysTaskDepth.id
				and auCustomTask.area_id = sysArea.id
				and auCustomTask.city_id = sysCity.id
				and auCustomTask.occupation_id = auOccupation.id
        	<if test="param.auCustomTaskAppId != null and param.auCustomTaskAppId != '' ">
				and app_id =#(param.auCustomTaskAppId) 
			</if>
        	<if test="param.auCustomTaskCompaynId != null and param.auCustomTaskCompaynId != '' ">
				and compayn_id =#(param.auCustomTaskCompaynId) 
			</if>
        	<if test="param.auCustomTaskUserId != null and param.auCustomTaskUserId != '' ">
				and user_id =#(param.auCustomTaskUserId) 
			</if>
        	<if test="param.auCustomTaskTaskType != null and param.auCustomTaskTaskType != '' ">
				and task_type =#(param.auCustomTaskTaskType) 
			</if>
        	<if test="param.auCustomTaskTaskActivity != null and param.auCustomTaskTaskActivity != '' ">
				and task_activity =#(param.auCustomTaskTaskActivity) 
			</if>
        	<if test="param.auCustomTaskProvinceId != null and param.auCustomTaskProvinceId != '' ">
				and province_id =#(param.auCustomTaskProvinceId) 
			</if>
        	<if test="param.auCustomTaskTaskDepth != null and param.auCustomTaskTaskDepth != '' ">
				and task_depth =#(param.auCustomTaskTaskDepth) 
			</if>
        	<if test="param.auCustomTaskAreaId != null and param.auCustomTaskAreaId != '' ">
				and area_id =#(param.auCustomTaskAreaId) 
			</if>
        	<if test="param.auCustomTaskCityId != null and param.auCustomTaskCityId != '' ">
				and city_id =#(param.auCustomTaskCityId) 
			</if>
        	<if test="param.auCustomTaskOccupationId != null and param.auCustomTaskOccupationId != '' ">
				and occupation_id =#(param.auCustomTaskOccupationId) 
			</if>
    </select>
    <select id="pageList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT 	
        		auCustomTask.id AS auCustomTaskId,
            		
        		auCompany.name AS auCompanyAppName,
            		
        		auUser.mobile AS auUserMobile,
            		
        		auCompanyApp.name AS auCompanyAppName,
            		
        		auCustomTask.task_title AS auCustomTaskTaskTitle,
            		
        		auCustomTask.extension_type AS auCustomTaskExtensionType,
            		
        		auCustomTask.scheme_id AS auCustomTaskSchemeId,
            		
        		sysTaskType.type_title AS sysTaskTypeTypeTitle,
            		
        		sysTaskDepth.depth_title AS sysTaskDepthDepthTitle,
            		
        		sysTaskActivity.activity_name AS sysTaskActivityActivityName,
            		
        		sysProvince.name AS sysProvinceName,
            		
        		sysCity.name AS sysCityName,
            		
        		sysArea.name AS sysAreaName,
            		
        		auOccupation.occupation_name AS auOccupationOccupationName,
            		
        		auCustomTask.start_time AS auCustomTaskStartTime,
            		
        		auCustomTask.end_time AS auCustomTaskEndTime,
            		
        		auCustomTask.user_sex AS auCustomTaskUserSex,
            		
        		auCustomTask.user_age_min AS auCustomTaskUserAgeMin,
            		
        		auCustomTask.user_age_max AS auCustomTaskUserAgeMax,
            		
        		auCustomTask.hobby_type AS auCustomTaskHobbyType,
            		
        		auCustomTask.extension_item AS auCustomTaskExtensionItem,
            		
        		auCustomTask.extension_nums_item AS auCustomTaskExtensionNumsItem,
            		
        		auCustomTask.custom_price AS auCustomTaskCustomPrice,
            		
        		auCustomTask.verify_status AS auCustomTaskVerifyStatus,
            		
        		auCustomTask.task_content AS auCustomTaskTaskContent,
            		
        		auCustomTask.veruft_refuse AS auCustomTaskVeruftRefuse,
            		
        		auCustomTask.verify_time AS auCustomTaskVerifyTime,
            		
        		auCustomTask.review_status AS auCustomTaskReviewStatus,
            		
        		auCustomTask.review_refuse AS auCustomTaskReviewRefuse,
            		
        		auCustomTask.review_time AS auCustomTaskReviewTime,
            		
        		auCustomTask.task_reward AS auCustomTaskTaskReward,
            		
        		auCustomTask.task_status AS auCustomTaskTaskStatus,
            		
        		auCustomTask.created_time AS auCustomTaskCreatedTime,
            		
        		auCustomTask.updated_time AS auCustomTaskUpdatedTime,
            		
        		auCustomTask.delFlag AS auCustomTaskDelFlag
    	FROM
    		au_custom_task auCustomTask
        	,au_company_app	auCompanyApp
        	,au_company	auCompany
        	,au_user	auUser
        	,sys_task_type	sysTaskType
        	,sys_task_activity	sysTaskActivity
        	,sys_province	sysProvince
        	,sys_task_depth	sysTaskDepth
        	,sys_area	sysArea
        	,sys_city	sysCity
        	,au_occupation	auOccupation
    	WHERE 1=1
    	and auCustomTask.delFlag = 0
    	
				and auCustomTask.app_id = auCompanyApp.id
				and auCustomTask.compayn_id = auCompany.id
				and auCustomTask.user_id = auUser.id
				and auCustomTask.task_type = sysTaskType.id
				and auCustomTask.task_activity = sysTaskActivity.id
				and auCustomTask.province_id = sysProvince.id
				and auCustomTask.task_depth = sysTaskDepth.id
				and auCustomTask.area_id = sysArea.id
				and auCustomTask.city_id = sysCity.id
				and auCustomTask.occupation_id = auOccupation.id
        	<if test="param.auCustomTaskAppId != null and param.auCustomTaskAppId != '' ">
				and app_id =#(param.auCustomTaskAppId) 
			</if>
        	<if test="param.auCustomTaskCompaynId != null and param.auCustomTaskCompaynId != '' ">
				and compayn_id =#(param.auCustomTaskCompaynId) 
			</if>
        	<if test="param.auCustomTaskUserId != null and param.auCustomTaskUserId != '' ">
				and user_id =#(param.auCustomTaskUserId) 
			</if>
        	<if test="param.auCustomTaskTaskType != null and param.auCustomTaskTaskType != '' ">
				and task_type =#(param.auCustomTaskTaskType) 
			</if>
        	<if test="param.auCustomTaskTaskActivity != null and param.auCustomTaskTaskActivity != '' ">
				and task_activity =#(param.auCustomTaskTaskActivity) 
			</if>
        	<if test="param.auCustomTaskProvinceId != null and param.auCustomTaskProvinceId != '' ">
				and province_id =#(param.auCustomTaskProvinceId) 
			</if>
        	<if test="param.auCustomTaskTaskDepth != null and param.auCustomTaskTaskDepth != '' ">
				and task_depth =#(param.auCustomTaskTaskDepth) 
			</if>
        	<if test="param.auCustomTaskAreaId != null and param.auCustomTaskAreaId != '' ">
				and area_id =#(param.auCustomTaskAreaId) 
			</if>
        	<if test="param.auCustomTaskCityId != null and param.auCustomTaskCityId != '' ">
				and city_id =#(param.auCustomTaskCityId) 
			</if>
        	<if test="param.auCustomTaskOccupationId != null and param.auCustomTaskOccupationId != '' ">
				and occupation_id =#(param.auCustomTaskOccupationId) 
			</if>
    		LIMIT #{param.pageStart},#{param.pageNum}
    </select>
    
    
    <select id="allList" parameterType="java.util.Map" resultType="java.util.Map">
    	    	SELECT 	
        		auCustomTask.id AS auCustomTaskId,
            		
        		auCompany.name AS auCompanyAppName,
            		
        		auUser.mobile AS auUserMobile,
            		
        		auCompanyApp.name AS auCompanyAppName,
            		
        		auCustomTask.task_title AS auCustomTaskTaskTitle,
            		
        		auCustomTask.extension_type AS auCustomTaskExtensionType,
            		
        		auCustomTask.scheme_id AS auCustomTaskSchemeId,
            		
        		sysTaskType.type_title AS sysTaskTypeTypeTitle,
            		
        		sysTaskDepth.depth_title AS sysTaskDepthDepthTitle,
            		
        		sysTaskActivity.activity_name AS sysTaskActivityActivityName,
            		
        		sysProvince.name AS sysProvinceName,
            		
        		sysCity.name AS sysCityName,
            		
        		sysArea.name AS sysAreaName,
            		
        		auOccupation.occupation_name AS auOccupationOccupationName,
            		
        		auCustomTask.start_time AS auCustomTaskStartTime,
            		
        		auCustomTask.end_time AS auCustomTaskEndTime,
            		
        		auCustomTask.user_sex AS auCustomTaskUserSex,
            		
        		auCustomTask.user_age_min AS auCustomTaskUserAgeMin,
            		
        		auCustomTask.user_age_max AS auCustomTaskUserAgeMax,
            		
        		auCustomTask.hobby_type AS auCustomTaskHobbyType,
            		
        		auCustomTask.extension_item AS auCustomTaskExtensionItem,
            		
        		auCustomTask.extension_nums_item AS auCustomTaskExtensionNumsItem,
            		
        		auCustomTask.custom_price AS auCustomTaskCustomPrice,
            		
        		auCustomTask.verify_status AS auCustomTaskVerifyStatus,
            		
        		auCustomTask.task_content AS auCustomTaskTaskContent,
            		
        		auCustomTask.veruft_refuse AS auCustomTaskVeruftRefuse,
            		
        		auCustomTask.verify_time AS auCustomTaskVerifyTime,
            		
        		auCustomTask.review_status AS auCustomTaskReviewStatus,
            		
        		auCustomTask.review_refuse AS auCustomTaskReviewRefuse,
            		
        		auCustomTask.review_time AS auCustomTaskReviewTime,
            		
        		auCustomTask.task_reward AS auCustomTaskTaskReward,
            		
        		auCustomTask.task_status AS auCustomTaskTaskStatus,
            		
        		auCustomTask.created_time AS auCustomTaskCreatedTime,
            		
        		auCustomTask.updated_time AS auCustomTaskUpdatedTime,
            		
        		auCustomTask.delFlag AS auCustomTaskDelFlag
    	FROM
    		au_custom_task auCustomTask
        	,au_company_app	auCompanyApp
        	,au_company	auCompany
        	,au_user	auUser
        	,sys_task_type	sysTaskType
        	,sys_task_activity	sysTaskActivity
        	,sys_province	sysProvince
        	,sys_task_depth	sysTaskDepth
        	,sys_area	sysArea
        	,sys_city	sysCity
        	,au_occupation	auOccupation
    	WHERE 1=1
    	
				and auCustomTask.app_id = auCompanyApp.id
				and auCustomTask.compayn_id = auCompany.id
				and auCustomTask.user_id = auUser.id
				and auCustomTask.task_type = sysTaskType.id
				and auCustomTask.task_activity = sysTaskActivity.id
				and auCustomTask.province_id = sysProvince.id
				and auCustomTask.task_depth = sysTaskDepth.id
				and auCustomTask.area_id = sysArea.id
				and auCustomTask.city_id = sysCity.id
				and auCustomTask.occupation_id = auOccupation.id
        	<if test="param.auCustomTaskAppId != null and param.auCustomTaskAppId != '' ">
				and app_id =#(param.auCustomTaskAppId) 
			</if>
        	<if test="param.auCustomTaskCompaynId != null and param.auCustomTaskCompaynId != '' ">
				and compayn_id =#(param.auCustomTaskCompaynId) 
			</if>
        	<if test="param.auCustomTaskUserId != null and param.auCustomTaskUserId != '' ">
				and user_id =#(param.auCustomTaskUserId) 
			</if>
        	<if test="param.auCustomTaskTaskType != null and param.auCustomTaskTaskType != '' ">
				and task_type =#(param.auCustomTaskTaskType) 
			</if>
        	<if test="param.auCustomTaskTaskActivity != null and param.auCustomTaskTaskActivity != '' ">
				and task_activity =#(param.auCustomTaskTaskActivity) 
			</if>
        	<if test="param.auCustomTaskProvinceId != null and param.auCustomTaskProvinceId != '' ">
				and province_id =#(param.auCustomTaskProvinceId) 
			</if>
        	<if test="param.auCustomTaskTaskDepth != null and param.auCustomTaskTaskDepth != '' ">
				and task_depth =#(param.auCustomTaskTaskDepth) 
			</if>
        	<if test="param.auCustomTaskAreaId != null and param.auCustomTaskAreaId != '' ">
				and area_id =#(param.auCustomTaskAreaId) 
			</if>
        	<if test="param.auCustomTaskCityId != null and param.auCustomTaskCityId != '' ">
				and city_id =#(param.auCustomTaskCityId) 
			</if>
        	<if test="param.auCustomTaskOccupationId != null and param.auCustomTaskOccupationId != '' ">
				and occupation_id =#(param.auCustomTaskOccupationId) 
			</if>
    </select>
    
    
</mapper>