<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zycw.tuotui.readdao.auoccupation.AuOccupationMapper">




        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zycw.tuotui.entity.auoccupation.AuOccupation">
                    <id column="id" />
                    <result column="occupation_name" />
                    <result column="delFlag" />
        </resultMap>

    
    		        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        </sql>


    
    <delete id="deleteById">
        DELETE FROM au_occupation WHERE 
        id=#{auOccupationId}
    </delete>
    
    
    <update id="deleteByIdLogic">
        UPDATE au_occupation SET delFlag = 1 
        WHERE 
        id=#{auOccupationId}
    </update>
    
    
    
    
    
 
 
 	<update id="updateObjById"  parameterType="com.zycw.tuotui.entity.auoccupation.AuOccupation">
        UPDATE au_occupation SET 
		            occupation_name=#{auOccupationOccupationName},
		            delFlag=#{auOccupationDelFlag}
        WHERE 
        id=#{auOccupationId}
    </update>
 
    
    <insert id='insertObj' parameterType="com.zycw.tuotui.entity.auoccupation.AuOccupation">
    	INSERT INTO au_occupation(
    			occupation_name,
    			delFlag
    	)
        VALUES(
		           #{auOccupationOccupationName},
		           #{auOccupationDelFlag}
        )
    </insert>
    <insert id='batchInsertObj' parameterType="java.util.List">
    	INSERT INTO au_occupation(
    			occupation_name,
    			delFlag
    	)
        VALUES(
        <foreach collection="list" item="item"  separator=",">
		           #{item.auOccupationOccupationName},
		           #{item.auOccupationDelFlag}
        </foreach>
        )
    </insert>
    
    
    <select id="selectObjById" parameterType="java.util.Map" resultType="java.util.HashMap">
    	SELECT  
com.baomidou.mybatisplus.generator.config.po.TableField@6f16e6f0
        		auOccupation.id AS auOccupationId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@7f0ac82f
        		auOccupation.occupation_name AS auOccupationOccupationName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@3ccb69e6
        		auOccupation.delFlag AS auOccupationDelFlag
		 FROM 
		 	au_occupation auOccupation
    	WHERE 1=1
    	and auOccupation.delFlag = 0
		 and ${tbAlias}.id=#{auOccupationId}
    </select>
    
    <select id="countNum" parameterType="java.util.Map" resultType="Integer">
    	SELECT 	
    		COUNT(1)
    	FROM
    		au_occupation auOccupation
    	WHERE 1=1
    	and auOccupation.delFlag = 0
    	
    </select>
    <select id="pageList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT 	
        		auOccupation.id AS auOccupationId,
            		
        		auOccupation.occupation_name AS auOccupationOccupationName,
            		
        		auOccupation.delFlag AS auOccupationDelFlag
    	FROM
    		au_occupation auOccupation
    	WHERE 1=1
    	and auOccupation.delFlag = 0
    	
    		LIMIT #{param.pageStart},#{param.pageNum}
    </select>
    
    
    <select id="allList" parameterType="java.util.Map" resultType="java.util.Map">
    	    	SELECT 	
        		auOccupation.id AS auOccupationId,
            		
        		auOccupation.occupation_name AS auOccupationOccupationName,
            		
        		auOccupation.delFlag AS auOccupationDelFlag
    	FROM
    		au_occupation auOccupation
    	WHERE 1=1
    	
    </select>
    
    
</mapper>