<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zycw.tuotui.readdao.auusertask.AuUserTaskMapper">




        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zycw.tuotui.entity.auusertask.AuUserTask">
                    <id column="id" />
                    <result column="user_id" />
                    <result column="task_id" />
                    <result column="task_status" />
                    <result column="start_time" />
                    <result column="end_time" />
                    <result column="delFlag" />
        </resultMap>

    
    		        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        </sql>


    
    <delete id="deleteById">
        DELETE FROM au_user_task WHERE 
        id=#{auUserTaskId}
    </delete>
    
    
    <update id="deleteByIdLogic">
        UPDATE au_user_task SET delFlag = 1 
        WHERE 
        id=#{auUserTaskId}
    </update>
    
    
	 
    <delete id="deleteByauUserTaskUserId">
        DELETE FROM au_user_task WHERE 
        user_id=id
    </delete>
	 
    <delete id="deleteByauUserTaskTaskId">
        DELETE FROM au_user_task WHERE 
        task_id=id
    </delete>
    
    
    
 
 
 	<update id="updateObjById"  parameterType="com.zycw.tuotui.entity.auusertask.AuUserTask">
        UPDATE au_user_task SET 
		            user_id=auUserTaskUserId,
		            task_id=auUserTaskTaskId,
		            task_status=auUserTaskTaskStatus,
		            start_time=auUserTaskStartTime,
		            end_time=auUserTaskEndTime,
		            delFlag=#{auUserTaskDelFlag}
        WHERE 
        id=#{auUserTaskId}
    </update>
 
    
    <insert id='insertObj' parameterType="com.zycw.tuotui.entity.auusertask.AuUserTask">
    	INSERT INTO au_user_task(
    			user_id,
    			task_id,
    			task_status,
    			start_time,
    			end_time,
    			delFlag
    	)
        VALUES(
		           #{auUserTaskUserId},
		           #{auUserTaskTaskId},
		           #{auUserTaskTaskStatus},
		           #{auUserTaskStartTime},
		           #{auUserTaskEndTime},
		           #{auUserTaskDelFlag}
        )
    </insert>
    <insert id='batchInsertObj' parameterType="java.util.List">
    	INSERT INTO au_user_task(
    			user_id,
    			task_id,
    			task_status,
    			start_time,
    			end_time,
    			delFlag
    	)
        VALUES(
        <foreach collection="list" item="item"  separator=",">
		           #{item.auUserTaskUserId},
		           #{item.auUserTaskTaskId},
		           #{item.auUserTaskTaskStatus},
		           #{item.auUserTaskStartTime},
		           #{item.auUserTaskEndTime},
		           #{item.auUserTaskDelFlag}
        </foreach>
        )
    </insert>
    
    
    <select id="selectObjById" parameterType="java.util.Map" resultType="java.util.HashMap">
    	SELECT  
com.baomidou.mybatisplus.generator.config.po.TableField@d9442e3
        		auUserTask.id AS auUserTaskId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@21f70cab
        		auUserTask.user_id AS auUserTaskUserId,
        		auUser.mobile AS auUserMobile,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@282a6470
        		auUserTask.task_id AS auUserTaskTaskId,
        		auCustomTask.task_title AS auCustomTaskTaskTitle,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@6a806d78
        		auUserTask.task_status AS auUserTaskTaskStatus,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@db2d46b
        		auUserTask.start_time AS auUserTaskStartTime,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@7f8f6f20
        		auUserTask.end_time AS auUserTaskEndTime,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@47d9d45
        		auUserTask.delFlag AS auUserTaskDelFlag
		 FROM 
		 	au_user_task auUserTask
        	,au_user	auUser
        	,au_custom_task	auCustomTask
    	WHERE 1=1
    	and auUserTask.delFlag = 0
				and auUserTask.user_id = auUser.id
				and auUserTask.task_id = auCustomTask.id
		 and auCustomTask.id=#{auUserTaskId}
    </select>
    
    <select id="countNum" parameterType="java.util.Map" resultType="Integer">
    	SELECT 	
    		COUNT(1)
    	FROM
    		au_user_task auUserTask
        	,au_user	auUser
        	,au_custom_task	auCustomTask
    	WHERE 1=1
    	and auUserTask.delFlag = 0
    	
				and auUserTask.user_id = auUser.id
				and auUserTask.task_id = auCustomTask.id
        	<if test="param.auUserTaskUserId != null and param.auUserTaskUserId != '' ">
				and user_id =#(param.auUserTaskUserId) 
			</if>
        	<if test="param.auUserTaskTaskId != null and param.auUserTaskTaskId != '' ">
				and task_id =#(param.auUserTaskTaskId) 
			</if>
    </select>
    <select id="pageList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT 	
        		auUserTask.id AS auUserTaskId,
            		
        		auUser.mobile AS auUserMobile,
            		
        		auCustomTask.task_title AS auCustomTaskTaskTitle,
            		
        		auUserTask.task_status AS auUserTaskTaskStatus,
            		
        		auUserTask.start_time AS auUserTaskStartTime,
            		
        		auUserTask.end_time AS auUserTaskEndTime,
            		
        		auUserTask.delFlag AS auUserTaskDelFlag
    	FROM
    		au_user_task auUserTask
        	,au_user	auUser
        	,au_custom_task	auCustomTask
    	WHERE 1=1
    	and auUserTask.delFlag = 0
    	
				and auUserTask.user_id = auUser.id
				and auUserTask.task_id = auCustomTask.id
        	<if test="param.auUserTaskUserId != null and param.auUserTaskUserId != '' ">
				and user_id =#(param.auUserTaskUserId) 
			</if>
        	<if test="param.auUserTaskTaskId != null and param.auUserTaskTaskId != '' ">
				and task_id =#(param.auUserTaskTaskId) 
			</if>
    		LIMIT #{param.pageStart},#{param.pageNum}
    </select>
    
    
    <select id="allList" parameterType="java.util.Map" resultType="java.util.Map">
    	    	SELECT 	
        		auUserTask.id AS auUserTaskId,
            		
        		auUser.mobile AS auUserMobile,
            		
        		auCustomTask.task_title AS auCustomTaskTaskTitle,
            		
        		auUserTask.task_status AS auUserTaskTaskStatus,
            		
        		auUserTask.start_time AS auUserTaskStartTime,
            		
        		auUserTask.end_time AS auUserTaskEndTime,
            		
        		auUserTask.delFlag AS auUserTaskDelFlag
    	FROM
    		au_user_task auUserTask
        	,au_user	auUser
        	,au_custom_task	auCustomTask
    	WHERE 1=1
    	
				and auUserTask.user_id = auUser.id
				and auUserTask.task_id = auCustomTask.id
        	<if test="param.auUserTaskUserId != null and param.auUserTaskUserId != '' ">
				and user_id =#(param.auUserTaskUserId) 
			</if>
        	<if test="param.auUserTaskTaskId != null and param.auUserTaskTaskId != '' ">
				and task_id =#(param.auUserTaskTaskId) 
			</if>
    </select>
    
    
</mapper>