<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zycw.tuotui.readdao.auuser.AuUserMapper">




        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zycw.tuotui.entity.auuser.AuUser">
                    <id column="id" />
                    <result column="mobile" />
                    <result column="is_agent" />
                    <result column="nick" />
                    <result column="uimg" />
                    <result column="type" />
                    <result column="password" />
                    <result column="true_name" />
                    <result column="useruuid" />
                    <result column="sex" />
                    <result column="province_id" />
                    <result column="city_id" />
                    <result column="area_id" />
                    <result column="occupation_id" />
                    <result column="agentCode" />
                    <result column="status" />
                    <result column="wxid" />
                    <result column="zfbid" />
                    <result column="created_time" />
                    <result column="updated_time" />
        </resultMap>

    
    		        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        </sql>


    
    <delete id="deleteById">
        DELETE FROM au_user WHERE 
        id=#{auUserId}
    </delete>
    
    
    <update id="deleteByIdLogic">
        UPDATE au_user SET $logicColumn.columnName = $logicTrueValue 
        WHERE 
        id=#{auUserId}
    </update>
    
    
	 
    <delete id="deleteByauUserProvinceId">
        DELETE FROM au_user WHERE 
        province_id=id
    </delete>
	 
    <delete id="deleteByauUserCityId">
        DELETE FROM au_user WHERE 
        city_id=id
    </delete>
	 
    <delete id="deleteByauUserAreaId">
        DELETE FROM au_user WHERE 
        area_id=id
    </delete>
	 
    <delete id="deleteByauUserOccupationId">
        DELETE FROM au_user WHERE 
        occupation_id=id
    </delete>
    
    
    
 
 
 	<update id="updateObjById"  parameterType="com.zycw.tuotui.entity.auuser.AuUser">
        UPDATE au_user SET 
		            mobile=#{auUserMobile},
		            is_agent=#{auUserIsAgent},
		            nick=#{auUserNick},
		            uimg=#{auUserUimg},
		            type=#{auUserType},
		            password=#{auUserPassword},
		            true_name=#{auUserTrueName},
		            useruuid=#{auUserUseruuid},
		            sex=#{auUserSex},
		            province_id=#{auUserProvinceId},
		            city_id=#{auUserCityId},
		            area_id=#{auUserAreaId},
		            occupation_id=#{auUserOccupationId},
		            agentCode=#{auUserAgentCode},
		            status=#{auUserStatus},
		            wxid=#{auUserWxid},
		            zfbid=#{auUserZfbid},
		            created_time=#{auUserCreatedTime},
		            updated_time=#{auUserUpdatedTime}
        WHERE 
        id=#{auUserId}
    </update>
 
    
    <insert id='insertObj' parameterType="com.zycw.tuotui.entity.auuser.AuUser">
    	INSERT INTO au_user(
    			mobile,
    			is_agent,
    			nick,
    			uimg,
    			type,
    			password,
    			true_name,
    			useruuid,
    			sex,
    			province_id,
    			city_id,
    			area_id,
    			occupation_id,
    			agentCode,
    			status,
    			wxid,
    			zfbid,
    			created_time,
    			updated_time
    	)
        VALUES(
		           #{auUserMobile},
		           #{auUserIsAgent},
		           #{auUserNick},
		           #{auUserUimg},
		           #{auUserType},
		           #{auUserPassword},
		           #{auUserTrueName},
		           #{auUserUseruuid},
		           #{auUserSex},
		           #{auUserProvinceId},
		           #{auUserCityId},
		           #{auUserAreaId},
		           #{auUserOccupationId},
		           #{auUserAgentCode},
		           #{auUserStatus},
		           #{auUserWxid},
		           #{auUserZfbid},
		           #{auUserCreatedTime},
		           #{auUserUpdatedTime}
        )
    </insert>
    <insert id='batchInsertObj' parameterType="java.util.List">
    	INSERT INTO au_user(
    			mobile,
    			is_agent,
    			nick,
    			uimg,
    			type,
    			password,
    			true_name,
    			useruuid,
    			sex,
    			province_id,
    			city_id,
    			area_id,
    			occupation_id,
    			agentCode,
    			status,
    			wxid,
    			zfbid,
    			created_time,
    			updated_time
    	)
        VALUES(
        <foreach collection="list" item="item"  separator=",">
		           #{item.auUserMobile},
		           #{item.auUserIsAgent},
		           #{item.auUserNick},
		           #{item.auUserUimg},
		           #{item.auUserType},
		           #{item.auUserPassword},
		           #{item.auUserTrueName},
		           #{item.auUserUseruuid},
		           #{item.auUserSex},
		           #{item.auUserProvinceId},
		           #{item.auUserCityId},
		           #{item.auUserAreaId},
		           #{item.auUserOccupationId},
		           #{item.auUserAgentCode},
		           #{item.auUserStatus},
		           #{item.auUserWxid},
		           #{item.auUserZfbid},
		           #{item.auUserCreatedTime},
		           #{item.auUserUpdatedTime}
        </foreach>
        )
    </insert>
    
    
    <select id="selectObjById" parameterType="java.util.Map" resultType="java.util.HashMap">
    	SELECT  
com.baomidou.mybatisplus.generator.config.po.TableField@465923d3
        		auUser.id AS auUserId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@301e2162
        		auUser.mobile AS auUserMobile,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@430393e0
        		auUser.is_agent AS auUserIsAgent,

com.baomidou.mybatisplus.generator.config.po.TableField@ef1d41d
        		auUser.nick AS auUserNick,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@385829df
        		auUser.uimg AS auUserUimg,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@798c1a87
        		auUser.type AS auUserType,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@26cf1ac5
        		auUser.password AS auUserPassword,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@269e633d
        		auUser.true_name AS auUserTrueName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@5ff1b0e0
        		auUser.useruuid AS auUserUseruuid,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@46b0d1bb
        		auUser.sex AS auUserSex,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@1877e29a
        		auUser.province_id AS auUserProvinceId,
        		sysProvince.name AS sysProvinceName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@6fad8250
        		auUser.city_id AS auUserCityId,
        		sysCity.name AS sysCityName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@1457151c
        		auUser.area_id AS auUserAreaId,
        		sysArea.name AS sysAreaName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@718b96d2
        		auUser.occupation_id AS auUserOccupationId,
        		auOccupation.occupation_name AS auOccupationOccupationName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@305eb86d
        		auUser.agentCode AS auUserAgentCode,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@33e21334
        		auUser.status AS auUserStatus,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@1f310fa1
        		auUser.wxid AS auUserWxid,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@32212793
        		auUser.zfbid AS auUserZfbid,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@77f97c6a
        		auUser.created_time AS auUserCreatedTime,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@5421aa12
        		auUser.updated_time AS auUserUpdatedTime
		 FROM 
		 	au_user auUser
        	,sys_province	sysProvince
        	,sys_area	sysArea
        	,sys_city	sysCity
        	,au_occupation	auOccupation
    	WHERE 1=1
				and auUser.province_id = sysProvince.id
				and auUser.area_id = sysArea.id
				and auUser.city_id = sysCity.id
				and auUser.occupation_id = auOccupation.id
		 and auOccupation.id=#{auUserId}
    </select>
    
    <select id="countNum" parameterType="java.util.Map" resultType="java.lang.Integer">
    	SELECT 	
    		COUNT(1)
    	FROM
    		au_user auUser
        	,sys_province	sysProvince
        	,sys_area	sysArea
        	,sys_city	sysCity
        	,au_occupation	auOccupation
    	WHERE 1=1

				and auUser.province_id = sysProvince.id
				and auUser.area_id = sysArea.id
				and auUser.city_id = sysCity.id
				and auUser.occupation_id = auOccupation.id
        	<if test="param.auUserProvinceId != null and param.auUserProvinceId != '' ">
				and province_id =#(param.auUserProvinceId) 
			</if>
        	<if test="param.auUserAreaId != null and param.auUserAreaId != '' ">
				and area_id =#(param.auUserAreaId) 
			</if>
        	<if test="param.auUserCityId != null and param.auUserCityId != '' ">
				and city_id =#(param.auUserCityId)
			</if>
        	<if test="param.auUserOccupationId != null and param.auUserOccupationId != '' ">
				and occupation_id =#(param.auUserOccupationId) 
			</if>
    </select>
    <select id="pageList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT 	
        		auUser.id AS auUserId,
            		
        		auUser.mobile AS auUserMobile,
            		
        		auUser.is_agent AS auUserIsAgent,

        		auUser.nick AS auUserNick,
            		
        		auUser.uimg AS auUserUimg,
            		
        		auUser.type AS auUserType,
            		
        		auUser.password AS auUserPassword,
            		
        		auUser.true_name AS auUserTrueName,
            		
        		auUser.useruuid AS auUserUseruuid,
            		
        		auUser.sex AS auUserSex,
            		
        		sysProvince.name AS sysProvinceName,
            		
        		sysCity.name AS sysCityName,
            		
        		sysArea.name AS sysAreaName,
            		
        		auOccupation.occupation_name AS auOccupationOccupationName,
            		
        		auUser.agentCode AS auUserAgentCode,
            		
        		auUser.status AS auUserStatus,
            		
        		auUser.wxid AS auUserWxid,
            		
        		auUser.zfbid AS auUserZfbid,
            		
        		auUser.created_time AS auUserCreatedTime,
            		
        		auUser.updated_time AS auUserUpdatedTime
    	FROM
    		au_user auUser
        	,sys_province	sysProvince
        	,sys_area	sysArea
        	,sys_city	sysCity
        	,au_occupation	auOccupation
    	WHERE 1=1
    	and auUser.$logicColumn.columnName = $logicFalseValue

				and auUser.province_id = sysProvince.id
				and auUser.area_id = sysArea.id
				and auUser.city_id = sysCity.id
				and auUser.occupation_id = auOccupation.id
        	<if test="param.auUserProvinceId != null and param.auUserProvinceId != '' ">
				and province_id =#(param.auUserProvinceId) 
			</if>
        	<if test="param.auUserAreaId != null and param.auUserAreaId != '' ">
				and area_id =#(param.auUserAreaId) 
			</if>
        	<if test="param.auUserCityId != null and param.auUserCityId != '' ">
				and city_id =#(param.auUserCityId)
			</if>
        	<if test="param.auUserOccupationId != null and param.auUserOccupationId != '' ">
				and occupation_id =#(param.auUserOccupationId) 
			</if>
    		LIMIT #{param.pageStart},#{param.pageNum}
    </select>
    
    
    <select id="allList" parameterType="java.util.Map" resultType="java.util.Map">
    	    	SELECT 	
        		auUser.id AS auUserId,
            		
        		auUser.mobile AS auUserMobile,
            		
        		auUser.is_agent AS auUserIsAgent,

        		auUser.nick AS auUserNick,
            		
        		auUser.uimg AS auUserUimg,
            		
        		auUser.type AS auUserType,
            		
        		auUser.password AS auUserPassword,
            		
        		auUser.true_name AS auUserTrueName,
            		
        		auUser.useruuid AS auUserUseruuid,
            		
        		auUser.sex AS auUserSex,
            		
        		sysProvince.name AS sysProvinceName,
            		
        		sysCity.name AS sysCityName,
            		
        		sysArea.name AS sysAreaName,
            		
        		auOccupation.occupation_name AS auOccupationOccupationName,
            		
        		auUser.agentCode AS auUserAgentCode,
            		
        		auUser.status AS auUserStatus,
            		
        		auUser.wxid AS auUserWxid,
            		
        		auUser.zfbid AS auUserZfbid,
            		
        		auUser.created_time AS auUserCreatedTime,
            		
        		auUser.updated_time AS auUserUpdatedTime
    	FROM
    		au_user auUser
        	,sys_province	sysProvince
        	,sys_area	sysArea
        	,sys_city	sysCity
        	,au_occupation	auOccupation
    	WHERE 1=1
				and auUser.province_id = sysProvince.id
				and auUser.area_id = sysArea.id
				and auUser.city_id = sysCity.id
				and auUser.occupation_id = auOccupation.id
        	<if test="param.auUserProvinceId != null and param.auUserProvinceId != '' ">
				and province_id =#(param.auUserProvinceId) 
			</if>
        	<if test="param.auUserAreaId != null and param.auUserAreaId != '' ">
				and area_id =#(param.auUserAreaId) 
			</if>
        	<if test="param.auUserCityId != null and param.auUserCityId != '' ">
				and city_id =#(param.auUserCityId)
			</if>
        	<if test="param.auUserOccupationId != null and param.auUserOccupationId != '' ">
				and occupation_id =#(param.auUserOccupationId) 
			</if>
    </select>


    <select id="getUserByMobileAndUUiD"   parameterType="java.util.Map" resultType="com.zycw.tuotui.entity.auuser.AuUser">
        select
		           auUser.mobile as auUserMobile,
		           auUser.nick as auUserNick,
		           auUser.uimg as auUserUimg,
		           auUser.type as auUserType,
		           auUser.password as auUserPassword,
		           auUser.true_name auUserTrueName,
		           auUser.useruuid as auUserUseruuid
        FROM au_user auUser
        WHERE 1=1
        	<if test="param.auUserMobile != null and param.auUserMobile != '' ">
				and auUser.mobile = #{param.auUserMobile}
        	</if>


        	<if test="param.auUserUseruuid != null and param.auUserUseruuid != '' ">
				and auUser.useruuid = #{param.auUserUseruuid}
        	</if>



    </select>

    
</mapper>