<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zycw.tuotui.readdao.auuserhobby.AuUserHobbyMapper">


        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zycw.tuotui.entity.auuserhobby.AuUserHobby">
                    <id column="id" />
                    <result column="user_id" />
                    <result column="hobby_id" />
        </resultMap>

    
    		        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        </sql>


    
    <delete id="deleteById">
        DELETE FROM au_user_hobby WHERE 
        id=#{auUserHobbyId}
    </delete>
    
    
    <update id="deleteByIdLogic">
        UPDATE au_user_hobby SET delFlag = 1' 
        WHERE 
        id=#{auUserHobbyId}
    </update>
    
 
 
 	<update id="updateObjById"  parameterType="com.zycw.tuotui.entity.auuserhobby.AuUserHobby">
        UPDATE au_user_hobby SET 
		            user_id=auUserHobbyUserId,
		            hobby_id=#{auUserHobbyHobbyId}
        WHERE 
        id=#{auUserHobbyId}
    </update>
 
    
    <insert id='insertObj' parameterType="com.zycw.tuotui.entity.auuserhobby.AuUserHobby">
    	INSERT INTO au_user_hobby(
    			user_id,
    			hobby_id
    	)
        VALUES(
		           #{auUserHobbyUserId},
		           #{auUserHobbyHobbyId}
        )
    </insert>
    <insert id='batchInsertObj' parameterType="java.util.List">
    	INSERT INTO au_user_hobby(
    			user_id,
    			hobby_id
    	)
        VALUES(
        <foreach collection="list" item="item"  separator=",">
		           #{item.auUserHobbyUserId},
		           #{item.auUserHobbyHobbyId}
        </foreach>
        )
    </insert>
    
    
    <select id="selectObjById" parameterType="java.util.Map" resultType="java.util.HashMap">
    	SELECT  
com.baomidou.mybatisplus.generator.config.po.TableField@31522707
        		auUserHobby.id AS auUserHobbyId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@773441bb
        		auUserHobby.user_id AS auUserHobbyUserId,
        		sysHobby.hobby_title AS sysHobbyHobbyTitle,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@52afb86b
        		auUserHobby.hobby_id AS auUserHobbyHobbyId
        		sysHobby.hobby_title AS sysHobbyHobbyTitle
		 FROM 
		 	au_user_hobby auUserHobby
        	,sys_hobby	sysHobby
        	,sys_hobby	sysHobby
    	WHERE 1=1
				and auUserHobby.user_id = sysHobby.id
				and auUserHobby.hobby_id = sysHobby.id
		 and sysHobby.id=#{auUserHobbyId}
    </select>
    
    <select id="countNum" parameterType="java.util.Map" resultType="Integer">
    	SELECT 	
    		COUNT(1)
    	FROM
    		au_user_hobby auUserHobby
        	,sys_hobby	sysHobby
        	,sys_hobby	sysHobby
    	WHERE 1=1
    	
				and auUserHobby.user_id = sysHobby.id
				and auUserHobby.hobby_id = sysHobby.id
        	<if test="param.auUserHobbyUserId != null and param.auUserHobbyUserId != '' ">
				and user_id =#(param.auUserHobbyUserId) 
			</if>
        	<if test="param.auUserHobbyHobbyId != null and param.auUserHobbyHobbyId != '' ">
				and hobby_id =#(param.auUserHobbyHobbyId) 
			</if>
    </select>
    <select id="pageList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT 	
        		auUserHobby.id AS auUserHobbyId,
            		
        		sysHobby.hobby_title AS sysHobbyHobbyTitle,
            		
        		sysHobby.hobby_title AS sysHobbyHobbyTitle
    	FROM
    		au_user_hobby auUserHobby
        	,sys_hobby	sysHobby
        	,sys_hobby	sysHobby
    	WHERE 1=1
    	
				and auUserHobby.user_id = sysHobby.id
				and auUserHobby.hobby_id = sysHobby.id
        	<if test="param.auUserHobbyUserId != null and param.auUserHobbyUserId != '' ">
				and user_id =#(param.auUserHobbyUserId) 
			</if>
        	<if test="param.auUserHobbyHobbyId != null and param.auUserHobbyHobbyId != '' ">
				and hobby_id =#(param.auUserHobbyHobbyId) 
			</if>
    		LIMIT #{param.pageStart},#{param.pageNum}
    </select>
    
    
    <select id="allList" parameterType="java.util.Map" resultType="java.util.Map">
    	    	SELECT 	
        		auUserHobby.id AS auUserHobbyId,
            		
        		sysHobby.hobby_title AS sysHobbyHobbyTitle,
            		
        		sysHobby.hobby_title AS sysHobbyHobbyTitle
    	FROM
    		au_user_hobby auUserHobby
        	,sys_hobby	sysHobby
        	,sys_hobby	sysHobby
    	WHERE 1=1
    	
				and auUserHobby.user_id = sysHobby.id
				and auUserHobby.hobby_id = sysHobby.id
        	<if test="param.auUserHobbyUserId != null and param.auUserHobbyUserId != '' ">
				and user_id =#(param.auUserHobbyUserId) 
			</if>
        	<if test="param.auUserHobbyHobbyId != null and param.auUserHobbyHobbyId != '' ">
				and hobby_id =#(param.auUserHobbyHobbyId) 
			</if>
    </select>
    
    
</mapper>