<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zycw.tuotui.readdao.chatfriends.ChatFriendsMapper">




        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zycw.tuotui.entity.chatfriends.ChatFriends">
                    <id column="id" />
                    <result column="userid" />
                    <result column="fuserid" />
                    <result column="addtime" />
                    <result column="delFlaf" />
        </resultMap>

    
    		        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        </sql>


    
    <delete id="deleteById">
        DELETE FROM chat_friends WHERE 
        id=#{chatFriendsId}
    </delete>
    
    
    <update id="deleteByIdLogic">
        UPDATE chat_friends SET delFlaf = 1 
        WHERE 
        id=#{chatFriendsId}
    </update>
    
    
    
    
    
 
 
 	<update id="updateObjById"  parameterType="com.zycw.tuotui.entity.chatfriends.ChatFriends">
        UPDATE chat_friends SET 
		            userid=chatFriendsUserid,
		            fuserid=chatFriendsFuserid,
		            addtime=chatFriendsAddtime,
		            delFlaf=#{chatFriendsDelFlaf}
        WHERE 
        id=#{chatFriendsId}
    </update>
 
    
    <insert id='insertObj' parameterType="com.zycw.tuotui.entity.chatfriends.ChatFriends">
    	INSERT INTO chat_friends(
    			userid,
    			fuserid,
    			addtime,
    			delFlaf
    	)
        VALUES(
		           #{chatFriendsUserid},
		           #{chatFriendsFuserid},
		           #{chatFriendsAddtime},
		           #{chatFriendsDelFlaf}
        )
    </insert>
    <insert id='batchInsertObj' parameterType="java.util.List">
    	INSERT INTO chat_friends(
    			userid,
    			fuserid,
    			addtime,
    			delFlaf
    	)
        VALUES(
        <foreach collection="list" item="item"  separator=",">
		           #{item.chatFriendsUserid},
		           #{item.chatFriendsFuserid},
		           #{item.chatFriendsAddtime},
		           #{item.chatFriendsDelFlaf}
        </foreach>
        )
    </insert>
    
    
    <select id="selectObjById" parameterType="java.util.Map" resultType="java.util.HashMap">
    	SELECT  
com.baomidou.mybatisplus.generator.config.po.TableField@57073dc0
        		chatFriends.id AS chatFriendsId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@ba4e955
        		chatFriends.userid AS chatFriendsUserid,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@7eff5f7a
        		chatFriends.fuserid AS chatFriendsFuserid,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@1248f6cf
        		chatFriends.addtime AS chatFriendsAddtime,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@15bdfc8b
        		chatFriends.delFlaf AS chatFriendsDelFlaf
		 FROM 
		 	chat_friends chatFriends
    	WHERE 1=1
    	and chatFriends.delFlaf = 0
		 and ${tbAlias}.id=#{chatFriendsId}
    </select>
    
    <select id="countNum" parameterType="java.util.Map" resultType="Integer">
    	SELECT 	
    		COUNT(1)
    	FROM
    		chat_friends chatFriends
    	WHERE 1=1
    	and chatFriends.delFlaf = 0
    	
    </select>
    <select id="pageList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT 	
        		chatFriends.id AS chatFriendsId,
            		
        		chatFriends.userid AS chatFriendsUserid,
            		
        		chatFriends.fuserid AS chatFriendsFuserid,
            		
        		chatFriends.addtime AS chatFriendsAddtime,
            		
        		chatFriends.delFlaf AS chatFriendsDelFlaf
    	FROM
    		chat_friends chatFriends
    	WHERE 1=1
    	and chatFriends.delFlaf = 0
    	
    		LIMIT #{param.pageStart},#{param.pageNum}
    </select>
    
    
    <select id="allList" parameterType="java.util.Map" resultType="java.util.Map">
    	    	SELECT 	
        		chatFriends.id AS chatFriendsId,
            		
        		chatFriends.userid AS chatFriendsUserid,
            		
        		chatFriends.fuserid AS chatFriendsFuserid,
            		
        		chatFriends.addtime AS chatFriendsAddtime,
            		
        		chatFriends.delFlaf AS chatFriendsDelFlaf
    	FROM
    		chat_friends chatFriends
    	WHERE 1=1
    	
    </select>
    
    
</mapper>