<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zycw.tuotui.readdao.syscity.SysCityMapper">




        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zycw.tuotui.entity.syscity.SysCity">
                    <id column="id" />
                    <result column="name" />
                    <result column="province_id" />
                    <result column="delFlag" />
        </resultMap>

    
    		        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        </sql>


    
    <delete id="deleteById">
        DELETE FROM sys_city WHERE 
        id=#{sysCityId}
    </delete>
    
    
    <update id="deleteByIdLogic">
        UPDATE sys_city SET delFlag = 1 
        WHERE 
        id=#{sysCityId}
    </update>
    
    
	 
    <delete id="deleteBysysCityProvinceId">
        DELETE FROM sys_city WHERE 
        province_id=id
    </delete>
    
    
    
 
 
 	<update id="updateObjById"  parameterType="com.zycw.tuotui.entity.syscity.SysCity">
        UPDATE sys_city SET 
		            name=#{sysCityName},
		            province_id=#{sysCityProvinceId},
		            delFlag=#{sysCityDelFlag}
        WHERE 
        id=#{sysCityId}
    </update>
 
    
    <insert id='insertObj' parameterType="com.zycw.tuotui.entity.syscity.SysCity">
    	INSERT INTO sys_city(
    			name,
    			province_id,
    			delFlag
    	)
        VALUES(
		           #{sysCityName},
		           #{sysCityProvinceId},
		           #{sysCityDelFlag}
        )
    </insert>
    <insert id='batchInsertObj' parameterType="java.util.List">
    	INSERT INTO sys_city(
    			name,
    			province_id,
    			delFlag
    	)
        VALUES(
        <foreach collection="list" item="item"  separator=",">
		           #{item.sysCityName},
		           #{item.sysCityProvinceId},
		           #{item.sysCityDelFlag}
        </foreach>
        )
    </insert>
    
    
    <select id="selectObjById" parameterType="java.util.Map" resultType="java.util.HashMap">
    	SELECT  
com.baomidou.mybatisplus.generator.config.po.TableField@78c361df
        		sysCity.id AS sysCityId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@41693a36
        		sysCity.name AS sysCityName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@434df499
        		sysCity.province_id AS sysCityProvinceId,
        		sysProvince.name AS sysProvinceName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@2863abe
        		sysCity.delFlag AS sysCityDelFlag
		 FROM 
		 	sys_city sysCity
        	,sys_province	sysProvince
    	WHERE 1=1
    	and sysCity.delFlag = 0
				and sysCity.province_id = sysProvince.id
		 and sysProvince.id=#{sysCityId}
    </select>
    
    <select id="countNum" parameterType="java.util.Map" resultType="Integer">
    	SELECT 	
    		COUNT(1)
    	FROM
    		sys_city sysCity
        	,sys_province	sysProvince
    	WHERE 1=1
    	and sysCity.delFlag = 0
    	
				and sysCity.province_id = sysProvince.id
        	<if test="param.sysCityProvinceId != null and param.sysCityProvinceId != '' ">
				and province_id =#(param.sysCityProvinceId) 
			</if>
    </select>
    <select id="pageList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT 	
        		sysCity.id AS sysCityId,
            		
        		sysCity.name AS sysCityName,
            		
        		sysProvince.name AS sysProvinceName,
            		
        		sysCity.delFlag AS sysCityDelFlag
    	FROM
    		sys_city sysCity
        	,sys_province	sysProvince
    	WHERE 1=1
    	and sysCity.delFlag = 0
    	
				and sysCity.province_id = sysProvince.id
        	<if test="param.sysCityProvinceId != null and param.sysCityProvinceId != '' ">
				and province_id =#(param.sysCityProvinceId) 
			</if>
    		LIMIT #{param.pageStart},#{param.pageNum}
    </select>
    
    
    <select id="allList" parameterType="java.util.Map" resultType="java.util.Map">
    	    	SELECT 	
        		sysCity.id AS sysCityId,
            		
        		sysCity.name AS sysCityName,
            		
        		sysProvince.name AS sysProvinceName,
            		
        		sysCity.delFlag AS sysCityDelFlag
    	FROM
    		sys_city sysCity
        	,sys_province	sysProvince
    	WHERE 1=1
    	
				and sysCity.province_id = sysProvince.id
        	<if test="param.sysCityProvinceId != null and param.sysCityProvinceId != '' ">
				and province_id =#(param.sysCityProvinceId) 
			</if>
    </select>
    
    
</mapper>