<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zycw.tuotui.readdao.sysextensiontype.SysExtensionTypeMapper">




        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zycw.tuotui.entity.sysextensiontype.SysExtensionType">
                    <id column="id" />
                    <result column="titel" />
                    <result column="price" />
                    <result column="content" />
                    <result column="delFlag" />
        </resultMap>

    
    		        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        </sql>


    
    <delete id="deleteById">
        DELETE FROM sys_extension_type WHERE 
        id=#{sysExtensionTypeId}
    </delete>
    
    
    <update id="deleteByIdLogic">
        UPDATE sys_extension_type SET delFlag = 1 
        WHERE 
        id=#{sysExtensionTypeId}
    </update>
    
    
    
    
    
 
 
 	<update id="updateObjById"  parameterType="com.zycw.tuotui.entity.sysextensiontype.SysExtensionType">
        UPDATE sys_extension_type SET 
		            titel=sysExtensionTypeTitel,
		            price=sysExtensionTypePrice,
		            content=sysExtensionTypeContent,
		            delFlag=#{sysExtensionTypeDelFlag}
        WHERE 
        id=#{sysExtensionTypeId}
    </update>
 
    
    <insert id='insertObj' parameterType="com.zycw.tuotui.entity.sysextensiontype.SysExtensionType">
    	INSERT INTO sys_extension_type(
    			titel,
    			price,
    			content,
    			delFlag
    	)
        VALUES(
		           #{sysExtensionTypeTitel},
		           #{sysExtensionTypePrice},
		           #{sysExtensionTypeContent},
		           #{sysExtensionTypeDelFlag}
        )
    </insert>
    <insert id='batchInsertObj' parameterType="java.util.List">
    	INSERT INTO sys_extension_type(
    			titel,
    			price,
    			content,
    			delFlag
    	)
        VALUES(
        <foreach collection="list" item="item"  separator=",">
		           #{item.sysExtensionTypeTitel},
		           #{item.sysExtensionTypePrice},
		           #{item.sysExtensionTypeContent},
		           #{item.sysExtensionTypeDelFlag}
        </foreach>
        )
    </insert>
    
    
    <select id="selectObjById" parameterType="java.util.Map" resultType="java.util.HashMap">
    	SELECT  
com.baomidou.mybatisplus.generator.config.po.TableField@50ecdd2f
        		sysExtensionType.id AS sysExtensionTypeId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@596f43f3
        		sysExtensionType.titel AS sysExtensionTypeTitel,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@7460c9e2
        		sysExtensionType.price AS sysExtensionTypePrice,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@204b318a
        		sysExtensionType.content AS sysExtensionTypeContent,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@3814aafb
        		sysExtensionType.delFlag AS sysExtensionTypeDelFlag
		 FROM 
		 	sys_extension_type sysExtensionType
    	WHERE 1=1
    	and sysExtensionType.delFlag = 0
		 and ${tbAlias}.id=#{sysExtensionTypeId}
    </select>
    
    <select id="countNum" parameterType="java.util.Map" resultType="Integer">
    	SELECT 	
    		COUNT(1)
    	FROM
    		sys_extension_type sysExtensionType
    	WHERE 1=1
    	and sysExtensionType.delFlag = 0
    	
    </select>
    <select id="pageList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT 	
        		sysExtensionType.id AS sysExtensionTypeId,
            		
        		sysExtensionType.titel AS sysExtensionTypeTitel,
            		
        		sysExtensionType.price AS sysExtensionTypePrice,
            		
        		sysExtensionType.content AS sysExtensionTypeContent,
            		
        		sysExtensionType.delFlag AS sysExtensionTypeDelFlag
    	FROM
    		sys_extension_type sysExtensionType
    	WHERE 1=1
    	and sysExtensionType.delFlag = 0
    	
    		LIMIT #{param.pageStart},#{param.pageNum}
    </select>
    
    
    <select id="allList" parameterType="java.util.Map" resultType="java.util.Map">
    	    	SELECT 	
        		sysExtensionType.id AS sysExtensionTypeId,
            		
        		sysExtensionType.titel AS sysExtensionTypeTitel,
            		
        		sysExtensionType.price AS sysExtensionTypePrice,
            		
        		sysExtensionType.content AS sysExtensionTypeContent,
            		
        		sysExtensionType.delFlag AS sysExtensionTypeDelFlag
    	FROM
    		sys_extension_type sysExtensionType
    	WHERE 1=1
    	
    </select>
    
    
</mapper>