<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zycw.tuotui.readdao.sysprovince.SysProvinceMapper">




        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zycw.tuotui.entity.sysprovince.SysProvince">
                    <id column="id" />
                    <result column="name" />
                    <result column="delFlag" />
        </resultMap>

    
    		        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        </sql>


    
    <delete id="deleteById">
        DELETE FROM sys_province WHERE 
        id=#{sysProvinceId}
    </delete>
    
    
    <update id="deleteByIdLogic">
        UPDATE sys_province SET delFlag = 1 
        WHERE 
        id=#{sysProvinceId}
    </update>
    
    
    
    
    
 
 
 	<update id="updateObjById"  parameterType="com.zycw.tuotui.entity.sysprovince.SysProvince">
        UPDATE sys_province SET 
		            name=#{sysProvinceName},
		            delFlag=#{sysProvinceDelFlag}
        WHERE 
        id=#{sysProvinceId}
    </update>
 
    
    <insert id='insertObj' parameterType="com.zycw.tuotui.entity.sysprovince.SysProvince">
    	INSERT INTO sys_province(
    			name,
    			delFlag
    	)
        VALUES(
		           #{sysProvinceName},
		           #{sysProvinceDelFlag}
        )
    </insert>
    <insert id='batchInsertObj' parameterType="java.util.List">
    	INSERT INTO sys_province(
    			name,
    			delFlag
    	)
        VALUES(
        <foreach collection="list" item="item"  separator=",">
		           #{item.sysProvinceName},
		           #{item.sysProvinceDelFlag}
        </foreach>
        )
    </insert>
    
    
    <select id="selectObjById" parameterType="java.util.Map" resultType="java.util.HashMap">
    	SELECT  
com.baomidou.mybatisplus.generator.config.po.TableField@48aaf318
        		sysProvince.id AS sysProvinceId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@41641c32
        		sysProvince.name AS sysProvinceName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@664a398c
        		sysProvince.delFlag AS sysProvinceDelFlag
		 FROM 
		 	sys_province sysProvince
    	WHERE 1=1
    	and sysProvince.delFlag = 0
		 and ${tbAlias}.id=#{sysProvinceId}
    </select>
    
    <select id="countNum" parameterType="java.util.Map" resultType="Integer">
    	SELECT 	
    		COUNT(1)
    	FROM
    		sys_province sysProvince
    	WHERE 1=1
    	and sysProvince.delFlag = 0
    	
    </select>
    <select id="pageList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT 	
        		sysProvince.id AS sysProvinceId,
            		
        		sysProvince.name AS sysProvinceName,
            		
        		sysProvince.delFlag AS sysProvinceDelFlag
    	FROM
    		sys_province sysProvince
    	WHERE 1=1
    	and sysProvince.delFlag = 0
    	
    		LIMIT #{param.pageStart},#{param.pageNum}
    </select>
    
    
    <select id="allList" parameterType="java.util.Map" resultType="java.util.Map">
    	    	SELECT 	
        		sysProvince.id AS sysProvinceId,
            		
        		sysProvince.name AS sysProvinceName,
            		
        		sysProvince.delFlag AS sysProvinceDelFlag
    	FROM
    		sys_province sysProvince
    	WHERE 1=1
    	
    </select>
    
    
</mapper>