<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zycw.tuotui.readdao.sysresource.SysResourceMapper">




        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zycw.tuotui.entity.sysresource.SysResource">
                    <id column="id" />
                    <result column="name" />
                    <result column="router" />
                    <result column="path" />
                    <result column="icon" />
                    <result column="ishidden" />
                    <result column="roles" />
                    <result column="delFlag" />
        </resultMap>

    
    		        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        </sql>


    
    <delete id="deleteById">
        DELETE FROM sys_resource WHERE 
        id=#{sysResourceId}
    </delete>
    
    
    <update id="deleteByIdLogic">
        UPDATE sys_resource SET delFlag = 1 
        WHERE 
        id=#{sysResourceId}
    </update>
    
    
    
    
    
 
 
 	<update id="updateObjById"  parameterType="com.zycw.tuotui.entity.sysresource.SysResource">
        UPDATE sys_resource SET 
		            name=sysResourceName,
		            router=sysResourceRouter,
		            path=sysResourcePath,
		            icon=sysResourceIcon,
		            ishidden=sysResourceIshidden,
		            roles=sysResourceRoles,
		            delFlag=#{sysResourceDelFlag}
        WHERE 
        id=#{sysResourceId}
    </update>
 
    
    <insert id='insertObj' parameterType="com.zycw.tuotui.entity.sysresource.SysResource">
    	INSERT INTO sys_resource(
    			name,
    			router,
    			path,
    			icon,
    			ishidden,
    			roles,
    			delFlag
    	)
        VALUES(
		           #{sysResourceName},
		           #{sysResourceRouter},
		           #{sysResourcePath},
		           #{sysResourceIcon},
		           #{sysResourceIshidden},
		           #{sysResourceRoles},
		           #{sysResourceDelFlag}
        )
    </insert>
    <insert id='batchInsertObj' parameterType="java.util.List">
    	INSERT INTO sys_resource(
    			name,
    			router,
    			path,
    			icon,
    			ishidden,
    			roles,
    			delFlag
    	)
        VALUES(
        <foreach collection="list" item="item"  separator=",">
		           #{item.sysResourceName},
		           #{item.sysResourceRouter},
		           #{item.sysResourcePath},
		           #{item.sysResourceIcon},
		           #{item.sysResourceIshidden},
		           #{item.sysResourceRoles},
		           #{item.sysResourceDelFlag}
        </foreach>
        )
    </insert>
    
    
    <select id="selectObjById" parameterType="java.util.Map" resultType="java.util.HashMap">
    	SELECT  
com.baomidou.mybatisplus.generator.config.po.TableField@35ac0a9
        		sysResource.id AS sysResourceId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@5f029d48
        		sysResource.name AS sysResourceName,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@49471aba
        		sysResource.router AS sysResourceRouter,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@702aee04
        		sysResource.path AS sysResourcePath,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@1aaf1e39
        		sysResource.icon AS sysResourceIcon,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@518c28f9
        		sysResource.ishidden AS sysResourceIshidden,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@20ef6ab8
        		sysResource.roles AS sysResourceRoles,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@712fa6f
        		sysResource.delFlag AS sysResourceDelFlag
		 FROM 
		 	sys_resource sysResource
    	WHERE 1=1
    	and sysResource.delFlag = 0
		 and ${tbAlias}.id=#{sysResourceId}
    </select>
    
    <select id="countNum" parameterType="java.util.Map" resultType="Integer">
    	SELECT 	
    		COUNT(1)
    	FROM
    		sys_resource sysResource
    	WHERE 1=1
    	and sysResource.delFlag = 0
    	
    </select>
    <select id="pageList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT 	
        		sysResource.id AS sysResourceId,
            		
        		sysResource.name AS sysResourceName,
            		
        		sysResource.router AS sysResourceRouter,
            		
        		sysResource.path AS sysResourcePath,
            		
        		sysResource.icon AS sysResourceIcon,
            		
        		sysResource.ishidden AS sysResourceIshidden,
            		
        		sysResource.roles AS sysResourceRoles,
            		
        		sysResource.delFlag AS sysResourceDelFlag
    	FROM
    		sys_resource sysResource
    	WHERE 1=1
    	and sysResource.delFlag = 0
    	
    		LIMIT #{param.pageStart},#{param.pageNum}
    </select>
    
    
    <select id="allList" parameterType="java.util.Map" resultType="java.util.Map">
    	    	SELECT 	
        		sysResource.id AS sysResourceId,
            		
        		sysResource.name AS sysResourceName,
            		
        		sysResource.router AS sysResourceRouter,
            		
        		sysResource.path AS sysResourcePath,
            		
        		sysResource.icon AS sysResourceIcon,
            		
        		sysResource.ishidden AS sysResourceIshidden,
            		
        		sysResource.roles AS sysResourceRoles,
            		
        		sysResource.delFlag AS sysResourceDelFlag
    	FROM
    		sys_resource sysResource
    	WHERE 1=1
    	
    </select>
    
    
</mapper>