<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zycw.tuotui.readdao.systasktype.SysTaskTypeMapper">




        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zycw.tuotui.entity.systasktype.SysTaskType">
                    <id column="id" />
                    <result column="type_title" />
                    <result column="type_price" />
                    <result column="type_content" />
                    <result column="delFlag" />
        </resultMap>

    
    		        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        </sql>


    
    <delete id="deleteById">
        DELETE FROM sys_task_type WHERE 
        id=#{sysTaskTypeId}
    </delete>
    
    
    <update id="deleteByIdLogic">
        UPDATE sys_task_type SET delFlag = 1 
        WHERE 
        id=#{sysTaskTypeId}
    </update>
    
    
    
    
    
 
 
 	<update id="updateObjById"  parameterType="com.zycw.tuotui.entity.systasktype.SysTaskType">
        UPDATE sys_task_type SET 
		            type_title=#{sysTaskTypeTypeTitle},
		            type_price=#{sysTaskTypeTypePrice},
		            type_content=#{sysTaskTypeTypeContent},
		            delFlag=#{sysTaskTypeDelFlag}
        WHERE 
        id=#{sysTaskTypeId}
    </update>
 
    
    <insert id='insertObj' parameterType="com.zycw.tuotui.entity.systasktype.SysTaskType">
    	INSERT INTO sys_task_type(
    			type_title,
    			type_price,
    			type_content,
    			delFlag
    	)
        VALUES(
		           #{sysTaskTypeTypeTitle},
		           #{sysTaskTypeTypePrice},
		           #{sysTaskTypeTypeContent},
		           #{sysTaskTypeDelFlag}
        )
    </insert>
    <insert id='batchInsertObj' parameterType="java.util.List">
    	INSERT INTO sys_task_type(
    			type_title,
    			type_price,
    			type_content,
    			delFlag
    	)
        VALUES(
        <foreach collection="list" item="item"  separator=",">
		           #{item.sysTaskTypeTypeTitle},
		           #{item.sysTaskTypeTypePrice},
		           #{item.sysTaskTypeTypeContent},
		           #{item.sysTaskTypeDelFlag}
        </foreach>
        )
    </insert>
    
    
    <select id="selectObjById" parameterType="java.util.Map" resultType="java.util.HashMap">
    	SELECT  
com.baomidou.mybatisplus.generator.config.po.TableField@59eec826
        		sysTaskType.id AS sysTaskTypeId,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@4dae57d5
        		sysTaskType.type_title AS sysTaskTypeTypeTitle,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@144e6930
        		sysTaskType.type_price AS sysTaskTypeTypePrice,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@bd9806f
        		sysTaskType.type_content AS sysTaskTypeTypeContent,
            		
com.baomidou.mybatisplus.generator.config.po.TableField@333b8ccc
        		sysTaskType.delFlag AS sysTaskTypeDelFlag
		 FROM 
		 	sys_task_type sysTaskType
    	WHERE 1=1
    	and sysTaskType.delFlag = 0
		 and ${tbAlias}.id=#{sysTaskTypeId}
    </select>
    
    <select id="countNum" parameterType="java.util.Map" resultType="Integer">
    	SELECT 	
    		COUNT(1)
    	FROM
    		sys_task_type sysTaskType
    	WHERE 1=1
    	and sysTaskType.delFlag = 0
    	
    </select>
    <select id="pageList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT 	
        		sysTaskType.id AS sysTaskTypeId,
            		
        		sysTaskType.type_title AS sysTaskTypeTypeTitle,
            		
        		sysTaskType.type_price AS sysTaskTypeTypePrice,
            		
        		sysTaskType.type_content AS sysTaskTypeTypeContent,
            		
        		sysTaskType.delFlag AS sysTaskTypeDelFlag
    	FROM
    		sys_task_type sysTaskType
    	WHERE 1=1
    	and sysTaskType.delFlag = 0
    	
    		LIMIT #{param.pageStart},#{param.pageNum}
    </select>
    
    
    <select id="allList" parameterType="java.util.Map" resultType="java.util.Map">
    	    	SELECT 	
        		sysTaskType.id AS sysTaskTypeId,
            		
        		sysTaskType.type_title AS sysTaskTypeTypeTitle,
            		
        		sysTaskType.type_price AS sysTaskTypeTypePrice,
            		
        		sysTaskType.type_content AS sysTaskTypeTypeContent,
            		
        		sysTaskType.delFlag AS sysTaskTypeDelFlag
    	FROM
    		sys_task_type sysTaskType
    	WHERE 1=1
    	
    </select>
    
    
</mapper>